<template>
    <div class="dm-input-component">
        <h4>{{astrings.currency}}</h4>
        <label class="dm-select-frame">
            <select v-bind:value="value" v-on:input="updateValue($event.target.value)" v-bind:disabled="disabled">
                <option v-for="currency in currency_options" v-bind:key="currency.code">{{currency.symbol}}</option>
            </select>
        </label>
    </div>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "nb-currency-picker",
        props: ["value", "disabled"],
        data() {
            return {
                currency_options: [
                    {code: "EUR", symbol: "€"},
                    {code: "MDL", symbol: "MDL"}
                ]
            }
        },
        computed: {
            ...mapState(["astrings"])
        },
        methods: {
            updateValue: function (value) {
                this.$emit("input", value)
            }
        }
    }
</script>