<template>
    <label class="dm-input-component">
        <h4>{{header}}</h4>
        <date-picker v-model="dataModel[fieldToUpdate]"
                     :type="pickerType"
                     :format="pickerFormat"
                     :clearable="clearable"
                     :disabled="disabled"
                     :editable="false"
                     value-type="timestamp"
                     placeholder=""
                     input-class="dm-datepicker"
                     width="100%"
                     lang="en"
                     v-on:change="operateSelectedDate($event)">
        </date-picker>
    </label>
</template>

<script>
    import DatePicker from "vue2-datepicker";

    export default {
        name: "dm-date-picker",
        props: [
            "header",
            "placeholder",
            "value",
            "dataModel",
            "fieldToUpdate",
            "disabled",
            "pickerType",
            "pickerFormat",
            "clearable",
        ],
        components: {
            DatePicker
        },
        methods: {
            operateSelectedDate(value) {}
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    .dm-datepicker
        width: 100%
        cursor: pointer

    .dm-input-component
        .mx-calendar-content .cell.actived
            background: $app_main_color

        .mx-calendar
            color: $app_main_color
</style>