<template>
    <button class="dm-red-btn" v-bind:class="btnClass" v-bind:title="tooltip" @click.prevent="executeDelete()">
        <i class="dm-i-x"></i>
    </button>
</template>

<script>
    export default {
        name: "row-delete-btn",
        props: ["method", "tooltip", "uuid", "btnClass"],
        methods: {
            executeDelete() {
                if (this.method) {
                    this.method(this.uuid);
                }
            }
        }
    }
</script>

<style scoped lang="sass">
    .dm-i-x
        width: 20px
        height: 20px
        display: flex
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' class='svg-icon' viewBox='0 0 20 20'%3E%3Cpath fill='white' d='M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z'%3E%3C/path%3E%3C/svg%3E") no-repeat

    .dm-row-delete
        padding: 0
        display: flex
        align-items: center
        justify-content: center

    .dm-small-delete
        width: 30px
        height: 30px

    .dm-medium-delete
        width: 40px
        height: 40px
</style>