<template>
    <label class="dm-input-component">
        <h4 :class="fieldIcon" v-if="header">{{header}}</h4>
        <input v-bind:placeholder="cPlaceholder"
               type="number"
               :class="[inputIcon, {'dm-invalid-input' : errors.has(name)}]"
               v-validate="validateOptions"
               v-bind:name="name"
               v-bind:disabled="disabled"
               v-bind:value="value"
               v-on:input="updateValue($event.target.value)"
               v-on:keypress="checkValidity($event)"/>
    </label>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "digits-component-validate",
        props: [
            "header",
            "value",
            "max",
            "placeholder",
            "disabled",
            "fieldIcon",
            "inputIcon",
            "method",
            "name",
            "validateOptions"
        ],
        inject: {
            $validator: '$validator'
        },
        methods: {
            updateValue: function (value) {
                this.$emit("input", value ? parseInt(value) : value);
                if (this.method) {
                    this.method();
                }
            },
            checkValidity: function (event) {
                event = (event) ? event : window.event;
                let charCode = event.which ? event.which : event.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    event.preventDefault();
                } else {
                    if ((!this.max || !this.value || (this.max && parseInt(this.max) > this.value.toString().length))) {
                        return true;
                    } else {
                        event.preventDefault();
                    }
                }
            }
        },
        computed: {
            ...mapState(["astrings"]),
            cPlaceholder: function () {
                return this.placeholder ? this.placeholder : this.astrings.digits_only;
            }
        },
    }
</script>