<template>
    <label class="dm-input-component">
        <h4 v-if="header">{{header}}</h4>
        <input type="text"
               v-bind:name="name"
               v-bind:disabled="disabled"
               v-bind:value="value"
               v-bind:class="{'dm-invalid-input' : errors.has(name)}"
               v-bind:placeholder="placeholder"
               v-validate="validateOptions"
               v-on:input="updateValue($event.target.value)"/>
    </label>
</template>

<script>
    export default {
        name: "dm-input-component-validate",
        props: [
            "header",
            "placeholder",
            "value",
            "addClass",
            "toUppercase",
            "disabled",
            "inputType",
            "name",
            "validateOptions"
        ],
        inject: {
            $validator: '$validator'
        },
        methods: {
            updateValue: function (value) {
                if (this.toUppercase) {
                    this.$emit("input", value.toUpperCase());
                } else {
                    this.$emit("input", value);
                }
            }
        }
    }
</script>