<template>
    <div class="dm-input-component">
        <h4>{{header}}</h4>
        <div class="dm-phone-inputs-frame">
            <input type="text"
                   class="dm-dial-code"
                   placeholder="+373"
                   v-on:keypress="checkMax($event, 'code')"
                   :disabled="disabled"
                   v-model="value.code">
            <span>-</span>
            <input type="text"
                   class="dm-phone-number"
                   :class="fieldIcon"
                   :disabled="disabled"
                   placeholder="67000000"
                   v-on:keypress="checkMax($event, 'number')"
                   v-model="value.number">
        </div>
    </div>
</template>

<script>
    export default {
        name: "dm-phone-input",
        props: ["header", "value", "disabled", "fieldIcon"],
        methods: {
            /**\
             * Данная функция проиводит валидацию максимального разрешенного количества
             * символов в инпутах code/number
             * @param event - ивент нажатия клавиши внутри инпута
             * @param signature - содержит подпись о том с какого инпута был выпущен ивент
             * Влад. 22/01/19
             */
            checkMax(event, signature) {
                let charCode = event.which ? event.which : event.keyCode;
                if ((charCode > 31 && charCode !== 43 && (charCode < 48 || charCode > 57)) ||
                    (signature === "code" && this.value.code && this.value.code.length >= 4) ||
                    (signature === "number" && this.value.number && (this.value.number.length >= 10 || charCode === 43))) {
                    event.preventDefault()
                }
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .dm-phone-inputs-frame
        display: flex

        input, span
            display: inline-flex

        span
            margin: 0 5px
            align-items: center

    .dm-dial-code
        width: 45px

    .dm-phone-number
        width: 100px
        flex-grow: 1

</style>