<template>
    <div class="dm-input-component">
        <h4>{{header}}</h4>
        <label class="dm-select-frame">
            <select v-bind:value="value"
                    v-bind:disabled="disabled"
                    v-on:input="updateValue($event.target.value)"
                    v-on:change="execOnChange()">
                <option v-for="option in pdata"
                        v-bind:value="option[keyName]"
                        v-bind:key="option[keyName]">{{option[valueName]}}</option>
            </select>
        </label>
    </div>
</template>

<script>
    export default {
        name: "dm-picker",
        props: ["header", "pdata", "value", "keyName", "valueName", "method", "disabled"],
        watch: {
            pdata: function (values) {
                this.options = values;
            }
        },
        methods: {
            updateValue: function (value) {
                this.$emit("input", value);
            },
            execOnChange: function () {
                if (this.method) {
                    this.method();
                }
            }
        }
    }
</script>