<template>
    <fieldset class="dm-input-component dm-slider">
        <h4 v-if="header">{{header}}</h4>
        <vue-slider v-model="valueObj[field]"
                    contained="true"
                    dotSize="19"
                    :disabled="disabled"
                    :enableCross="false"
                    :min="min"
                    :max="max"
                    :tooltip-formatter="getTooltipFormat()"
                    :interval="interval">
        </vue-slider>
    </fieldset>
</template>

<script>
    import VueSlider from 'vue-slider-component';
    import AppTools from "@/globals/CommonTools";
    export default {
        name: "slider-component",
        props: ["header", "valueObj", "field", "type", "interval", "min", "max", "disabled"],
        methods: {
            /**
             * Данная функция генерирует формат тултипов возвращая значения перемещаемого слайдера
             * с дополнительным указателем валюты, метров и тд.
             * @returns {function(*): string}
             * Влад. 15/05/19
             */
            getTooltipFormat() {
                switch (this.type) {
                    case "price":
                        return v => AppTools.formatPrice(v);
                    case "size":
                        return v => `${v} m${'\u00B2'}`;
                }
            }
        },
        components: {
            VueSlider
        },
    }
</script>

<style lang="sass">

    @import "../../styles/presets.sass"
    $themeColor: $app_main_color
    @import '~vue-slider-component/lib/theme/default.scss'
    .dm-slider h4
        margin: 0 0 5px 0
</style>