<template>
    <label class="dm-input-component">
        <h4 v-if="header">{{header}}</h4>
        <textarea v-bind:disabled="disabled"
                  v-bind:value="value"
                  v-bind:class="addClass"
                  v-bind:placeholder="placeholder"
                  v-on:input="updateValue($event.target.value)"
                  v-bind:maxlength="maxlength"
                  v-bind:rows="getRows()">
        </textarea>
    </label>
</template>

<script>
    export default {
        name: "dm-textarea-component",
        props: ["header", "placeholder", "value", "addClass", "toUppercase", "disabled", "rows", "maxlength"],
        methods: {
            /**
             * Функция возвращает количество строк в textarea. Если параметр не задан, то выводим в 3 строки.
             * Макс. 23/02/19 - с Днём Защитника Отечества!)
             */
            getRows: function () {
                if (this.rows) {
                    return this.rows;
                }
            },
            updateValue: function (value) {
                if (this.toUppercase) {
                    this.$emit("input", value.toUpperCase());
                } else {
                    this.$emit("input", value);
                }
            }
        }
    }
</script>