.dm-alert
  padding: 20px
  font-size: $regular_font
  border-radius: 5px

.dm-small-label
  font-size: $regular_font
  height: 100%
  display: flex
  align-items: center
  padding: 1px 5px
  text-transform: uppercase
  box-sizing: border-box

.dm-alert-info
  background: $alert_blue
  border: solid 1px $main_blue
  color: $main_blue

.dm-alert-warn
  background: $alert_yellow
  border: solid 1px $main_yellow
  color: $main_orange

.dm-alert-error
  background: $alert_red
  border: solid 1px $light_red
  color: $light_red