button, .dm-file-picker-btn
  display: flex
  justify-content: center
  align-items: center
  cursor: pointer
  outline: none
  border: none
  padding: 0 10px
  height: 30px
  font-size: $button_font_size
  -webkit-appearance: none
  &.nb-small-padding
    padding: 0 5px

.dm-ok-btn, .dm-cancel-btn, .dm-red-btn, .dm-file-picker-btn
  text-transform: uppercase
  +shadowGenerator(0 1px 3px 0 rgba(0,0,0,0.35))
  +noUserSelect()
  &:active
    +shadowGenerator(inset 0 0 5px 0 rgba(0,0,0,0.75))
  &:disabled
    background: $dark_grey
    cursor: default
    pointer-events: none


.dm-ok-btn, .dm-red-btn
  color: white

.dm-ok-btn
  background: $app_main_color

.dm-cancel-btn
  background: $dark_grey

.dm-red-btn
  background: $main_red