.dm-app-dialog
    padding: 20px 40px !important
    background-size: contain
    position: relative
    box-sizing: border-box

.dm-dialog-footer
    justify-content: end
    +setGridAuto(auto, 10px, "columns")