$dz_border_radius: 5px
.dm-dropzone-element
  &.dropzone
    min-height: auto
    padding: 0
  &.vue-dropzone
    min-height: 80px
    border: solid 2px $app_main_color
    border-radius: $dz_border_radius
    margin: 0 0 20px 0
    +shadowGenerator(0px 2px 5px -1px rgba(0,0,0,0.3))
    &:hover
      background-color: $light_grey

  .dz-progress
    display: none

  &.vue-dropzone>.dz-preview
    border: solid 2px $dark_grey
    box-sizing: border-box
    border-radius: $dz_border_radius
    overflow: hidden
    cursor: pointer
    +shadowGenerator(0px 4px 5px -1px rgba(0,0,0,0.3))
    &.dz-error
      border: solid 2px $main_red
    .dz-remove
      padding: 0 10px
      display: flex
      align-items: center
      justify-content: center
      left: 25%
      width: 50%
      margin: 0
      &:hover
        text-decoration: none

    .dz-details
      background-color: rgba(255,255,255,.7)

    .dz-remove
      color: $app_main_color
      border: solid 2px $app_main_color
      border-radius: $dz_border_radius


    .dz-error-message
      top: 10px
      left: 5%
      width: 90%
      padding: 3px 5px
      background: $main_red
      border-radius: $dz_border_radius

  .dz-filename
    display: none

  .dz-message
    color: $app_main_color

  .dz-error-mark svg g g
    fill: $main_red