.dm-input-component
  border: none
  padding: 0
  margin: 0
  +setGridAuto(auto, 7px, "rows")

  h4
    font-size: $input_title_font

  textarea
    padding: 5px

  textarea, input:not([type=radio]), .dm-form-label
    border: solid 1px $dark_grey

    &:disabled
      background: $light_grey

  select
    &:disabled
      border-radius: 0
      background: $light_grey
      color: rgb(84, 84, 84)
      border-bottom: solid 1px $dark_grey

input[type=text], input[type=password], input[type=number], input[type=email], input[type=search], textarea,
.dm-form-label
  padding: 0 5px
  font-size: $small_font
  border-radius: 0
  -webkit-appearance: none
  +transition(background, 400ms)


input:not([type=radio])
  height: $inputs_height

.dm-phone-i, .dm-whatsapp-i, .dm-telegram-i, .dm-viber-i, .dm-euro-i
  background-size: 20px !important
  background-position: right 5px center !important

.dm-sq-meter-i
  background-size: 17px !important
  background-position: right 5px center !important

.dm-highlighted-input-green .dm-form-label,
.dm-highlighted-input-green input,
.dm-highlighted-input-green .dm-select-frame,
.dm-highlighted-green
  background: $green_transparent !important
