@import "presets"
.dm-view-frame
  position: relative
  display: flex
  flex-direction: column
  overflow: hidden
  +setGridAuto(auto, 20px, "rows")
  align-content: flex-start
  margin: 0 7px 7px 0

.dm-scrollable, .dm-scrollable-always
  +setGridAuto(auto, 30px, "rows")

.dm-scrollable-list, .dm-scrollable, .dm-scrollable-always
  overflow-x: hidden
  padding: 0 10px 10px 0


.dm-profile-content
  +setGrid(150px 1fr, 10px, null, null, "columns")
  height: calc(100% - 50px)

  .dm-profile-links
    padding: 0
    margin: 0 0 7px 7px

    a
      height: 40px
      display: flex
      align-items: center
      justify-content: flex-start
      padding: 0 5px 0 10px
      color: $app_main_color

      &:active
        color: $app_main_color

      &:hover
        background-color: $light_grey

      &.router-link-active
        background-color: $super_light_purple
        +shadowGenerator(inset -2px 0 3px 0 rgba(161, 64, 161, 0.41))


@media all and (max-width: $smartphone_media)
  .dm-profile-content
    +setGrid(auto, 0, 1fr $mobile_bar_height, null, "both")

    .dm-profile-links
      grid-row: 2 / 3
      +setGridAuto(1fr, null, "columns")
      border-top: solid 1px $app_main_color
      margin: 0

      a
        height: 100%
        background-position: center
        background-size: 26px

        &.router-link-active
          +shadowGenerator(inset 0 3px 5px 0 rgba(161, 64, 161, 0.41))

  .dm-scrollable-list, .dm-scrollable, .dm-scrollable-always
    padding: 0 10px 10px 10px



