@import presets
@import dialogs
@import buttons
@import profile
@import input_components
@import tooltip
@import dropzone
@import alerts

html, body, #app
  width: 100%
  height: 100%
  display: flex
  flex-direction: column
  overflow: hidden
  color: black
  font-family: Arial, sans-serif
  margin: 0
  padding: 0

h1, h2, h3, h4, h5, h6, pre
  margin: 0
  padding: 0
  font-weight: 100

pre
  display: flex
  font-family: Arial, sans-serif
  white-space: pre-wrap
  white-space: -moz-pre-wrap
  white-space: -pre-wrap
  white-space: -o-pre-wrap
  word-wrap: break-word

ul, p
  list-style: none
  margin: 0
  padding: 0

a
  cursor: pointer
  font-size: $link_text_size
  text-decoration: none

input, textarea, select
  resize: none
  outline: none
  background: white
  box-sizing: border-box

select
  border: none
  -moz-appearance: none
  -webkit-appearance: none
  font-size: $small_font
  cursor: pointer
  background: transparent

  &:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000

::-webkit-scrollbar
  width: 4px
  background-color: #F5F5F5

::-webkit-scrollbar-thumb
  border-radius: 10px
  background-color: #cdcdcd

::-webkit-scrollbar-track
  border-radius: 10px
  background-color: #f5f5f5
  background-clip: content-box


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
  -webkit-appearance: none

input[type=number]
  -moz-appearance: textfield


input::-webkit-input-placeholder, textarea::-webkit-input-placeholder
  color: $very_dark_grey

input:-moz-placeholder, textarea:-moz-placeholder
  color: $very_dark_grey

input::-moz-placeholder, textarea::-moz-placeholder
  color: $very_dark_grey

input:-ms-input-placeholder, textarea:-ms-input-placeholder
  color: $very_dark_grey

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder
  color: transparent

input:focus:-moz-placeholder, textarea:focus:-moz-placeholder
  color: transparent

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder
  color: transparent

input:focus:-ms-input-placeholder, textarea:focus:-ms-input-placeholder
  color: transparent

.dm-invalid-input, .dm-invalid-picker label, .dm-invalid-component input,
.dm-invalid-component label
  border: solid 1px red !important
  background-color: $input_error !important

  &::-webkit-input-placeholder, textarea::-webkit-input-placeholder
    color: white

  &:-moz-placeholder, textarea:-moz-placeholder
    color: white

  &::-moz-placeholder, textarea::-moz-placeholder
    color: white

  &:-ms-input-placeholder, textarea:-ms-input-placeholder
    color: white

.dm-login-widget, .dm-dialog-login-modes, .dm-checkbox-component, .dm-view-section-title, .dm-file-picker-btn,
.dm-input-component h4, .dm-profile-links, .dm-post-time-left, .dm-post-header, .dm-empty-list-frame,
.dm-main-app-preloader, .dm-photo-frame, .dm-filters-form, .dm-post-results-list, .dm-list-square, .dm-small-label,
.dm-companies-list, .dm-comp-tile
  +noUserSelect()

.dm-view-section-title, .vue-tel-input li strong, .dm-input-component h4, .dm-my-posts-list span,
.dm-post-contact-details h4, .dm-companies-list h4
  +ellipsis()

.dm-bordered-tile, .dm-companies-list-section, .dm-company-search, .dm-company-details, .dm-company-view-logo img,
.dm-basic-comp-details img, .dm-filters-button
  +shadowGenerator(0 1px 3px 0 rgba(0, 0, 0, 0.35))

.dm-scrollable-list, .dm-scrollable, .dm-scrollable-always, .dm-companies-list, .dm-company-view, .dm-post-full-page,
.dm-company-template-section, .dm-filters-scroll-block, .dm-post-results-list
  -webkit-overflow-scrolling: touch

.dm-select-frame
  background: white
  border: solid 1px $dark_grey
  box-sizing: border-box
  height: $inputs_height

  select
    height: $inputs_height
    width: 100%
    padding: 0 5px

.dm-app-filter-container, .dm-main-view-map, .dm-properties-section, .dm-view-frame, .dm-profile-links,
.dm-post-results-list li, .dm-post-full-details, .dm-post-contact-details
  border: solid 1px $light_grey
  +shadowGenerator(0px 0px 4px 0px rgba(0, 0, 0, 0.3))
  box-sizing: border-box
  background-color: white

.dm-app-notifications
  .vue-notification
    margin: 5px

  .notification
    font-size: $small_font !important
    +setGrid(null, null, 15px 1fr, 5px, "rows")

.dm-view-section-title
  font-size: $medium_font
  line-height: 30px
  height: 30px
  border-bottom: solid 1px $app_main_color
  color: $app_main_color

.dm-view-section-sub-title
  font-size: $regular_font
  line-height: 30px
  border-bottom: solid 1px $app_main_color
  margin: 0 0 10px 0

.dm-view-head-section
  height: 40px
  display: flex
  align-items: center
  padding: 0 5px
  justify-content: flex-start
  +shadowGenerator(0px 2px 3px 0px rgba(0, 0, 0, 0.1))

.dm-bordered-tile
  background: white
  padding: 10px

.dm-auto-grid
  align-items: flex-start
  +setGrid(repeat(auto-fit, minmax(220px, 1fr)), 20px, auto, 20px, "both")

.dm-auto-grid-wide
  align-items: flex-start
  +setGrid(repeat(auto-fit, minmax(300px, 1fr)), 20px, auto, 20px, "both")

.dm-quatro-grid
  +setGrid(repeat(4, 1fr), 20px, null, null, "columns")
.dm-double-grid
  +setGrid(repeat(2, 1fr), 20px, null, null, "columns")