<template>
    <div :id="gaugeId" :ref="gaugeId"></div>
</template>

<script>
    import {Constants} from "@/globals/Constants";
    import Gauge from "svg-gauge";

    export default {
        name: "TimeLeftGauge",
        props: ["gaugeId", "maxValue", "value", "angStart", "angEnd"],
        data() {
            return {
                green: "#5ee432",
                orange: "#ffb200",
                red: "#ef4655"
            }
        },
        created() {
            setTimeout(() => {
                this.generatePostTimeLeftGauge();
            }, 10)
        },
        methods: {
            generatePostTimeLeftGauge() {
                Gauge(document.getElementById(this.gaugeId), {
                    max: this.maxValue,
                    label: function (value) {
                        return Math.round(value);
                    },
                    value: this.getDaysDiff(),
                    dialStartAngle: this.angStart ? this.angStart : 90,
                    dialEndAngle: this.angEnd ? this.angEnd : 0,
                    color: (value) => {
                        if (value > 20) {
                            return this.green;
                        } else if (value > 10 && value <= 20) {
                            return this.orange;
                        } else {
                            return this.red;
                        }
                    }
                });
            },

            /**
             * Данная функция вычисляет сколько дней объявление будет еще активно основываясь
             * на данных полученых из определенного объявления
             * @returns {Integer}
             * Влад. 13/03/19
             */
            getDaysDiff() {
                const today = this.$moment(new Date());
                const timeFrom = this.$moment(this.value);
                const daysPassed = today.diff(timeFrom, "days");
                return daysPassed !== null && daysPassed > -1 ? Constants.POST_LIFE_SPAN - daysPassed : null;
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    .dm-post-time-left
        width: 60px
        height: 60px

        .gauge > .dial
            stroke: #eee
            stroke-width: 5
            fill: rgba(0, 0, 0, 0)

        .gauge > .value
            stroke: rgb(47, 227, 255)
            stroke-width: 4
            fill: rgba(0, 0, 0, 0)

        .gauge > .value-text
            fill: $very_dark_grey
            font-family: sans-serif
            font-size: 2em

</style>