<template>
    <div class="dm-views-amount-widget">
        <i class="dm-eye-i"></i>
        <span>{{amount ? amount : 0}}</span>
    </div>
</template>

<script>
    export default {
        name: "ViewsAmountWidget",
        props: ["amount"]
    }
</script>

<style scoped lang="sass">
    @import "../../styles/presets.sass"
    .dm-views-amount-widget
        height: 35px
        padding: 0 15px
        background: white
        border: solid 1px $very_dark_grey
        box-sizing: border-box
        border-radius: 50%
        position: relative
        display: flex
        align-items: center
        justify-content: center
        i
            position: absolute
            width: 25px
            height: 25px
            background-size: contain
            left: -15px
            top: 3px
            border-radius: 50%
        color: $app_main_color

</style>