<template>
    <div class="dm-main-view-container">
<!--        <section class="dm-app-filter-container">-->
<!--            <div class="dm-filters-scroll-block">-->
<!--                <Filters v-if="!is_phone" :filters-object="filtersObj"></Filters>-->
<!--            </div>-->
<!--            <button class="dm-ok-btn" @click="fetchData()" :disabled="async_request_sent">{{astrings.apply_filters}}-->
<!--            </button>-->
<!--            <button class="dm-open-filters-btn" v-if="is_phone" @click="openFiltersDialog()">f</button>-->
<!--        </section>-->
        <PostsListSection></PostsListSection>
        <Map name="main" class="dm-main-view-map"></Map>
    </div>
</template>

<script>
    import {Firestore} from "@/firebase/firebaseConf";
    import {Constants} from "@/globals/Constants";
    import Filters from "../components/FiltersForm";
    import Map from "../components/MapView";
    import PostsListSection from "@/components/PostsResultsList"
    import FiltersDlg from "@/components/dialogs/FiltersDialog";
    import {mapState, mapMutations} from 'vuex';

    export default {
        name: "Home",
        components: {
            Filters,
            PostsListSection,
            Map
        },
        data() {
            return {
                filtersObj: Constants.MAIN_FILTERS_OBJECT
            }
        },
        created() {
            this.fetchData();
        },
        computed: {
            ...mapState([
                "astrings",
                "is_phone",
                "async_request_sent"
            ])
        },
        methods: {
            ...mapMutations(["setVuexPostResults", "setVuexAsyncRequestSent"]),
            /**
             * Дання функция вызывается в мобильной версии приложения.
             * Открывает дайлог с филтьрами поиска объявлений.
             * Влад. 19/05/19
             */
            openFiltersDialog() {
                this.$modal.show(FiltersDlg, null, {width: "95%", height: "95%"})
            },

            /**
             * Данная функция создает запрос согласно указанным фильтрам и отправляет
             * его в Фаерстор для получения результатов поиска.
             * Влад. 19/05/19
             */
            fetchData() {
                this.setVuexAsyncRequestSent(true);
                console.log(this.filtersObj);
                const dataPath = `${this.filtersObj.property_type}_${this.filtersObj.post_type}/slim/posts/`;
                const collection = Firestore.collection(dataPath);

                const promise1 = new Promise(resolve => {
                    collection
                        .where("approved", "==", true)
                        .where("construction_type", "==", this.filtersObj.construction_type)
                        .where("condition", "==", this.filtersObj.condition)
                        .where("property_size", ">=", this.filtersObj.property_size[0])
                        .where("property_size", "<=", this.filtersObj.property_size[1])
                        // .where("rooms_amount", ">=", this.filtersObj.rooms_amount[0])
                        // .where("rooms_amount", "<=", this.filtersObj.rooms_amount[1])
                        .get().then(data => {
                        const results_1 = [];
                        if (data.size) {
                            data.forEach(function (doc) {
                                results_1.push(doc.data());
                            });
                        }
                        console.log(results_1);
                        resolve(results_1);
                    });
                });

                const promise2 = new Promise(resolve => {
                    collection
                        .where("rooms_amount", ">=", this.filtersObj.rooms_amount[0])
                        .where("rooms_amount", "<=", this.filtersObj.rooms_amount[1])
                        .get().then(data => {
                        const results_2 = [];
                        if (data.size) {
                            data.forEach(function (doc) {
                                results_2.push(doc.data());
                            });
                        }
                        resolve(results_2);
                    });
                });

                Promise.all([promise1, promise2]).then(values => {
                    this.setVuexAsyncRequestSent(false);
                    const assembledData = [];
                    const sortedValues = values.sort();
                    sortedValues[0].map(post1 => {
                        const found = sortedValues[1].find(post2 => {
                            return post2.uuid === post1.uuid;
                        });
                        if (found) {
                            assembledData.push(found);
                        }
                    });
                    if (assembledData.length) {
                        this.setVuexPostResults(assembledData);
                    } else {
                        this.setVuexPostResults(null);
                    }
                });
            }
        }
    }
</script>
<style lang="sass">
    @import "../styles/presets.sass"

    .dm-main-view-container
        +setGrid(minmax(250px, 2fr) 1fr, 15px, null, null, "both")
        height: calc(100% - 50px)
        overflow: hidden

    .dm-app-filter-container
        margin: 0 0 7px 7px
        align-items: flex-start
        padding: 10px

        .dm-ok-btn
            margin: 0 10px

    .dm-filters-scroll-block
        display: flex
        flex-direction: column
        flex-grow: 1
        overflow: auto

    .dm-main-view-map
        margin: 0 7px 7px 0
        display: flex
        padding: 10px

    .dm-view-frame
        padding: 10px 0 10px 10px

    @media all and (max-width: $smartphone_media)
        .dm-main-view-container
            +setGrid(auto, null, 1fr $mobile_bar_height, null, "both")
        .dm-app-filter-container
            grid-row: 2 / 3

        .dm-view-frame
            padding: 0
            margin: 0

</style>
