<template>
    <div class="dm-post-full-page" v-on:scroll="checkSticked()">
        <section class="dm-post-full-price-frame" id="sticky-price-block">
            <div :class="getPriceBlockClass">
                <h2 v-format-price="post.price"></h2>
                <h3 v-get-ppm="post.price_pm"></h3>
            </div>
        </section>
        <section class="dm-post-full-details">
            <div class="dm-post-details-header">
                <h1 class="dm-small-label dm-alert-info">{{getPropertyAndPostType}}</h1>
                <two-color-cell :field="astrings.published"
                                :value="post.created_at_ts | moment('DD.MM.YYYY')"></two-color-cell>
            </div>
            <div class="dm-auto-grid-wide">
                <div class="dm-post-property-main-data">
                    <h4 class="dm-view-section-title">{{astrings.property_det_ttl}}</h4>
                    <two-color-cell :field="astrings.property_details.rooms_amount"
                                    :value="post.rooms_amount"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.property_size"
                                    :value="`${post.property_size} m${'\u00B2'}`"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.land_size"
                                    :value="`${post.land_size} m${'\u00B2'}`" v-if="post.land_size"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.bathrooms_amount"
                                    :value="post.bathrooms" v-if="post.bathrooms"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.balcony"
                                    :value="post.balcony" v-if="post.balcony"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.floor"
                                    :value="post.floor_num"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.floors_amount"
                                    :value="post.floors_amount"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.condition"
                                    :value="getRelevantDataFromOptions('prop_condition_opt', 'condition')"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.construction_type"
                                    :value="getRelevantDataFromOptions('construction_type_options', 'construction_type')"></two-color-cell>
                    <two-color-cell :field="astrings.property_details.construction_year"
                                    :value="post.construction_year | moment('YYYY')"></two-color-cell>
                    <two-color-cell :field="astrings.location" :value="post.address"></two-color-cell>
                </div>

                <list-square :header="astrings.additional_det_ttl"
                             group-name="property_details"
                             :list-data="existingPropDetails"
                             v-if="existingPropDetails && existingPropDetails.length">
                </list-square>
                <list-square :header="astrings.property_details.residential_complex_details"
                             group-name="complex_details"
                             :list-data="existingComplexDetails"
                             v-if="existingComplexDetails && existingComplexDetails.length">
                </list-square>
            </div>
            <h4 class="dm-view-section-title" v-if="descriptionText">{{astrings.description}}</h4>
            <pre>{{descriptionText}}</pre>
        </section>
        <section class="dm-post-contact-details">
            <h2 class="dm-view-section-title">{{astrings.contact_details}}</h2>
            <h4>{{post.contact_name}}</h4>
            <ul class="dm-contact-phones-list">
                <li v-for="phone in grouped_phones" :key="phone.uuid">
                    <i :class="phone.className"></i>
                    <span>{{phone.number}}</span>
                </li>
            </ul>
        </section>
        <Carousel class="dm-post-gallery dm-bordered-tile" :images="post.images"></Carousel>
    </div>
</template>

<script>
    import {Firestore} from "@/firebase/firebaseConf";
    import Carousel from "@/components/CarouselGallery";
    import {mapState} from "vuex";
    import AppTools from "../globals/CommonTools";
    import ListSquare from "@/components/ListSquare";
    import TwoColorCell from "../components/TwoColorDataCell";

    export default {
        name: "PostFullView",
        components: {
            TwoColorCell,
            ListSquare,
            Carousel
        },
        data() {
            return {
                routeParams: this.$route.params,
                existingPropDetails: null,
                existingComplexDetails: null,
                descriptionText: null,
                grouped_phones: [],
                priceElem: null,
                isSticky: false,
                post: {}
            }
        },
        created() {
            this.fetchFullPostData();
        },
        computed: {
            ...mapState([
                "astrings"
            ]),

            /**
             * Данная функция возвращает нужный css класс для ярлыка с ценой
             * Влад. 15/06/19
             */
            getPriceBlockClass() {
                return `dm-post-full-price-fixed ${this.isSticky ? "dm-sticky" : ""}`;
            },

            /**
             * Данная функция возвращает собранный стринг для бейджа показывающий тип объявления и недвижимости.
             * Влад. 07/06/19
             */
            getPropertyAndPostType() {
                if (this.astrings && this.astrings.property_type) {
                    const property = this.astrings.property_type.find(type => type.code === this.post.property_type);
                    return property ? `${property.text} ${this.astrings[`for_${this.routeParams.post_type}`]}` : null;
                } else {
                    return null;
                }
            }
        },
        methods: {
            /**
             * Функция активирует и деактивирует состояние переменной когда блок с ценой становится sticky или выходит из режима
             * sticky.
             * Влад. 15/06/19
             */
            checkSticked() {
                if (!this.priceElem) {
                    this.priceElem = document.getElementById("sticky-price-block");
                }
                const top = this.priceElem.offsetTop;
                console.log(top);
                this.isSticky = top && top > 60;
            },
            /**
             * Данная функция находит подходящее значение в том или ином списке характеристик недвижимости и возвращает
             * стринг для показа в ячейке характеристик.
             * Влад. 07/06/19
             */
            getRelevantDataFromOptions(options, postField) {
                if (this.astrings && this.astrings[options] && this.post[postField]) {
                    const found = this.astrings[options].find(option => option.code === this.post[postField]);
                    return found ? found.text : null;
                }
            },
            /**
             * Данная функция вызываертся в момент загрузки экрана. Она собирает конкретны path к объявлению
             * основываясь на данных полученых из url параметров. После чего отправляет запрос в Фаерббейс для
             * получения полных данных нужного объявления.
             * Влад. 04/06/19
             */
            fetchFullPostData() {
                const postPath = `${this.routeParams.property_type}_${this.routeParams.post_type}/full/posts/${this.routeParams.post_id}`;
                Firestore.doc(postPath).get().then(post => {
                    if (post.exists) {
                        this.post = post.data();
                        this.initiateViewData();
                        console.log(this.post);
                    }
                });
            },
            /**
             * Дання функция инициализирует нужные данные для создания экрана.
             * Влад. 06/06/19
             */
            initiateViewData() {
                this.grouped_phones = AppTools.joinPhoneNumbersArrays(this.post);
                this.existingPropDetails = AppTools.getOnlyTrueValues(this.post.property_more_details);
                this.existingComplexDetails = AppTools.getOnlyTrueValues(this.post.complex_details);
                this.descriptionText = AppTools.getRelevantPostDescription(this.post.description);
            }
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"
    .dm-post-full-price-frame
        height: 50px
        align-items: center
        justify-content: center
        display: flex
        position: sticky
        top: -1px
        margin: 10px 0 0 0
        z-index: 1

    .dm-post-full-price-fixed
        +setGridAuto(auto, 20px, "columns")
        align-items: center
        justify-content: center
        background: white
        padding: 15px
        width: 260px
        border-radius: 5px
        +shadowGenerator(0 1px 3px 0 rgba(0, 0, 0, 0.35))
        +transition(all, 300ms)
        &.dm-sticky
            border-radius: 0
            width: 100%
            background: $app_main_color
            h2
                color: white
        h2
            color: $app_main_color
        h3
            color: $very_dark_grey
            font-size: $medium_font

    .dm-post-full-page
        padding: 0 10px
        overflow-x: hidden
        overflow-y: auto
        +setGrid(1fr minmax(auto, 200px), 20px, auto auto 1fr, 20px, "both")

        span, p
            font-size: $small_font

        .dm-bordered-tile
            margin: 0 0 10px 0


    .dm-post-details-header
        +setGridAuto(auto, 20px, "columns")
        height: 30px
        justify-content: space-between
        align-items: center

    .dm-post-property-main-data
        border: solid 1px $dark_grey
        padding: 0 10px 10px 10px
        +setGridAuto(auto, 5px, "rows")

        h4
            font-size: $regular_font
            font-weight: bold

    .dm-post-full-details, .dm-post-contact-details
        padding: 10px
        +setGridAuto(auto, 10px, "rows")

        pre
            font-size: $small_font

    .dm-post-gallery, .dm-post-full-price-frame
        grid-column: 1 / 3

    .dm-post-contact-details
        +setGridAuto(auto, 10px, "rows")
        align-content: flex-start

        h4
            font-size: $contact_name_font_size
            font-weight: bold

    .dm-contact-phones-list
        +setGridAuto(auto, 10px, "rows")

        li
            +setGrid(25px 1fr, 5px, null, null, "columns")
            align-items: center

        i
            height: 25px

    @media all and (max-width: $tablet_media)
        .dm-post-full-page
            grid-template-columns: 1fr

        .dm-post-contact-details
            grid-row: 3/4

        .dm-post-gallery, .dm-post-full-price-frame
            grid-column: 1 / 2
</style>