<template>
    <header>
        <ul class="dm-header-links">
            <router-link v-for="link in links" :to="link.router" :key="link.text">{{astrings.header_links[link.text]}}</router-link>
        </ul>
        <language-widget></language-widget>
        <login-widget></login-widget>
    </header>
</template>

<script>
    import LanguageWidget from "@/components/header/LanguageWidget";
    import LoginWidget from "@/components/header/LoginWidget";
    import {mapState} from "vuex";
    import {Constants} from "../../globals/Constants";

    export default {
        name: "Header",
        components: {
            LanguageWidget,
            LoginWidget
        },
        data() {
            return {
                links: Constants.HEADER_LINKS
            }
        },
        computed: {
            ...mapState(["astrings"])
        }
    }
</script>
<style lang="sass">
    @import "../../styles/presets.sass"
    header
        height: 50px
        padding: 0 10px
        align-content: center
        align-items: center
        flex-shrink: 0
        +setGrid(1fr auto auto, 10px, null, null, "columns")

    .dm-header-links
        justify-content: flex-start
        +setGridAuto(auto, 20px, "columns")

        a
            color: white
</style>
