<template>
    <div class="dm-view-frame dm-new-post-frame">
        <div class="dm-view-head-section">
            <button class="dm-ok-btn"
                    @click.prevent="publishPost()"
                    v-bind:disabled="async_request_sent">{{astrings.publish}}
            </button>
        </div>
        <PostForm></PostForm>
    </div>
</template>

<script>
    import {Constants} from "@/globals/Constants";
    import {mapState} from "vuex";
    import PostForm from "@/components/PostForm";

    export default {
        name: "CreatePublication",
        components: {
            PostForm
        },
        computed: {
            ...mapState([
                "astrings",
                "user_details",
                "async_request_sent",
                "highlight_field",
                "cached_personal_details"
            ])
        },
        methods: {
            publishPost() {
                this.$bus.emit(Constants.BUS_SAVE_POST);
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .dm-price-input-component
        +setGrid(1fr auto, 20px, null, null, "columns")

    .dm-new-post-map
        display: flex
        height: 450px
        margin: 10px 0 0 3px

    .dm-post-details-ta
        height: 100px
</style>