<template>
    <div class="dm-view-frame dm-new-post-frame">
        <ul class="dm-my-posts-list dm-scrollable-list">
            <li v-for="post in user_posts_list" :key="post.uuid" @click="openPostFullView(post)">
                <span>{{getPropertyType(post.property_type)}}</span>
                <span>{{post.address}}</span>
                <span class="dm-row-post-price">{{post.price}} {{post.currency}}</span>
                <i :class="postActiveBulb(post.approved)"></i>
                <TimeLeftGauge :gauge-id="post.uuid"
                               :value="post.renewed_at_ts"
                               class="dm-post-time-left"
                               :title="astrings.post_time_left"
                               :max-value="postLifeSpan">
                </TimeLeftGauge>
            </li>
        </ul>
        <empty-list v-if="!user_posts_list.length" :message="astrings.no_posts"></empty-list>
        <preloader v-if="async_request_sent" container-class="nb-preloader-transparent"></preloader>
    </div>

</template>

<script>
    import {Constants} from "@/globals/Constants";
    import {mapState, mapMutations} from "vuex";
    import {Firestore} from "@/firebase/firebaseConf";
    import Authentication from "@/firebase/authentication";
    import Preloader from "@/components/Preloader";
    import TimeLeftGauge from "../../components/widgets/Gauge";
    import PostFullView from "@/components/dialogs/PostFullViewDialog";
    import EmptyList from "@/components/EmptyListPlaceholder";

    export default {
        name: "MyPublications",
        components: {
            Preloader,
            TimeLeftGauge,
            EmptyList
        },
        data() {
            return {
                user_posts_list: [],
                postLifeSpan: Constants.POST_LIFE_SPAN
            }
        },
        created() {
            Authentication.auth().onAuthStateChanged(user => {
                if (user) {
                    //Если данные сохранены в кэше, то поднимаем их из кэша
                    //если нет, то отправляем запрос в фаерстор
                    if (!this.cached_personal_details) {
                        Firestore
                            .collection(Constants.FIRE_S_USERS)
                            .doc(user.uid).get().then((details) => {
                            if (details.exists) {
                                this.setVuexCacheForPersonalDetails(details.data());
                                this.fetchUserAdvertisements();
                            }
                        });
                    } else {
                        this.fetchUserAdvertisements();
                    }
                }
            });

        },
        computed: {
            ...mapState([
                "astrings",
                "user_details",
                "async_request_sent",
                "highlight_field",
                "cached_personal_details"
            ])
        },
        methods: {
            ...mapMutations([
                "setVuexAsyncRequestSent",
                "setVuexCacheForPersonalDetails"
            ]),

            /**
             * Данная функция определяет класс индикатора активности объявления
             * если объявление находится в статусе рассмотрения на случай если пользователь
             * написал какую то хуйню то цвет индикатора будет желтым, если объявление утверждено
             * админом и получило статус approved, то цвет индикатора будет зеленым
             * Влад. 05/04/19
             */
            postActiveBulb: function(approved) {
                return approved ? "dm-post-bulb green" : "dm-post-bulb yellow";
            },
            /**
             * Данная функция возвращает читаемою строку типа недвижимости чтобы
             * пользователь не бился в белечьем трансе и не читал наши инумераторы
             * Влад. 12/03/19
             */
            getPropertyType(type) {
                if (this.astrings.property_type) {
                    return this.astrings.property_type.find((ptype) => {
                        return ptype.code === type;
                    }).text;
                }
            },
            /**
             * Данная функция запрашивает все объявления зарегистрированного пользователя.
             * Влад. 10/03/19
             */
            fetchUserAdvertisements() {
                const self = this;
                if (this.user_details) {
                    this.setVuexAsyncRequestSent(true);
                    Firestore.collection(`${Constants.FIRE_S_POSTS_BY_USER}/${this.user_details.account_id}/posts`).get().then((data) => {
                        this.setVuexAsyncRequestSent(false);
                        if (data.size) {
                            data.forEach(function (doc) {
                                self.user_posts_list.push(doc.data());
                                console.log(doc.data());
                            });
                        }
                    });
                }
            },
            /**
             * Данная функция реагирует когда пользователь кликает на строку объявления.
             * Функция открывает дайлог с полными данными объявления
             * @param post объект содержащий полные данные объявления.
             * Влад. 14/03/19
             */
            openPostFullView(post) {
                const ww = window.innerWidth;
                const dw = ww > 600 ? "80%" : "95%";
                const dh = ww > 600 ? "90%" : "95%";
                this.$modal.show(PostFullView, {post: post, onPostDeleted: this.afterPostDeleted}, {
                    width: dw,
                    height: dh
                });
            },

            /**
             * Данная функция вызывается дайлогом, который показывает полные даннные объявления после того
             * как в нем была запущена и успешна завершена функция удаления объявления, после чего функция
             * получает uuid удаленног оъявления, и чтобы не запрашивать заного обновленный список объявлений
             * удаляет объявление из имеющего списка в ручную.
             * @param uuid - ID удаленного объявления для поиска и удаления его в ручную
             * Влад. 03/04/19
             */
            afterPostDeleted(uuid) {
                if (uuid) {
                    const index = this.user_posts_list.findIndex((post) => post.uuid === uuid);
                    if (index !== null && index > -1) {
                        this.user_posts_list.splice(index, 1);
                    }
                }
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .dm-my-posts-list
        +setGridAuto(60px, null, "rows")
        font-size: $small_font

        li
            +setGrid(70px 1fr repeat(3, auto), 20px, null, null, "columns")
            align-items: center
            cursor: pointer
            border-bottom: solid 1px $dark_grey
            box-sizing: border-box

            &:hover
                background: $super_light_grey

            .dm-post-bulb
                width: 20px
                height: 20px
                border-radius: 50%
                border: solid 1px $very_dark_grey
                box-sizing: border-box
                +shadowGenerator(0 1px 3px -1px rgba(0,0,0,0.51))
                &.green
                    background: $main_green
                &.yellow
                    background: $main_yellow

    .dm-row-post-price
        letter-spacing: .5px
        color: $app_main_color
        font-size: $regular_font

    @media all and (max-width: $smartphone_media)
        .dm-my-posts-list
            li
                grid-column-gap: 10px

</style>