<template>
    <form class="dm-view-frame dm-personal-details-frame">
        <div class="dm-view-head-section">
            <button class="dm-ok-btn"
                    @click.prevent="saveDetails()"
                    v-bind:disabled="async_request_sent">{{astrings.save}}
            </button>
        </div>
        <div class="dm-scrollable">
            <h4 class="dm-view-section-title" v-if="checkNotPrivateUser">{{astrings.personal_details.company_logo}}</h4>
            <div class="dm-avatar-section" v-if="checkNotPrivateUser">
                <ImageDropZone v-bind:data-model="personal_details" v-bind:method="saveDetails"></ImageDropZone>
            </div>
            <h4 class="dm-view-section-title">{{astrings.personal_details.public_det_ttl}}</h4>
            <div class="dm-auto-grid">
                <dm-input v-if="!checkNotPrivateUser"
                          :header="astrings.name"
                          v-model="personal_details.name">
                </dm-input>
                <dm-input-valid v-if="checkNotPrivateUser"
                                :header="astrings.company_name"
                                v-model="personal_details.company_name"
                                input-type="text"
                                name="asdfasdf"
                                validate-options="required">
                </dm-input-valid>
                <dm-input-valid :header="astrings.email"
                                v-model="personal_details.email"
                                input-type="email"
                                name="email"
                                validate-options="email">
                </dm-input-valid>
            </div>
            <div class="dm-auto-grid">
                <dm-date-picker v-if="checkNotPrivateUser"
                                :header="astrings.establishment_date"
                                :data-model="personal_details"
                                field-to-update="establishment_date"
                                :clearable="false"
                                picker-type="year"
                                picker-format="YYYY">
                </dm-date-picker>
                <location-picker v-if="checkNotPrivateUser"
                                 :header="astrings.company_address"
                                 :data-model="tempData"
                                 :value="tempData.location.address">
                </location-picker>
            </div>
            <div class="dm-auto-grid">
                <MultiPhones :input-title="astrings.phone_number" :data-model="personal_details.phone"
                             field-icon="dm-phone-i"></MultiPhones>
                <MultiPhones input-title="WhatsApp" :data-model="personal_details.whatsapp"
                             field-icon="dm-whatsapp-i"></MultiPhones>
                <MultiPhones input-title="Telegram" :data-model="personal_details.telegram"
                             field-icon="dm-telegram-i"></MultiPhones>
                <MultiPhones input-title="Viber" :data-model="personal_details.viber"
                             field-icon="dm-viber-i"></MultiPhones>
            </div>
        </div>
    </form>
</template>

<script>
    import AppTools from "@/globals/CommonTools";
    import {Constants} from '@/globals/Constants';
    import Authentication from "@/firebase/authentication";
    import {mapState, mapMutations} from "vuex";
    import MultiPhones from "@/components/MultiplePhoneNumbers";
    import ImageDropZone from "@/components/AvatarImageUploader";
    import Notifications from '@/notifications/Notifications';
    import LocationPicker from "@/components/LocationPicker";
    import {Firestore} from "@/firebase/firebaseConf";
    import {uuid} from 'vue-uuid';

    export default {
        name: "PersonalDetails",
        components: {
            MultiPhones,
            LocationPicker,
            ImageDropZone
        },
        data() {
            return {
                justLoaded: true,
                tempData: {
                    location: {}
                },
                personal_details: {
                    name: null,
                    email: null,
                    company_name: null,
                    address: null,
                    city: null,
                    lat: null,
                    long: null,
                    company_logo: null,
                    establishment_date: null,
                    phone: [
                        {
                            code: null,
                            number: null,
                            uuid: uuid.v1()
                        }
                    ],
                    whatsapp: [
                        {
                            code: null,
                            number: null,
                            uuid: uuid.v1()
                        }
                    ],
                    telegram: [
                        {
                            code: null,
                            number: null,
                            uuid: uuid.v1()
                        }
                    ],
                    viber: [
                        {
                            code: null,
                            number: null,
                            uuid: uuid.v1()
                        }
                    ]
                }
            }
        },
        created() {
            Authentication.auth().onAuthStateChanged(user => {
                if (user) {
                    //Если данные сохранены в кэше, то поднимаем их из кэша
                    //если нет, то отправляем запрос в фаерстор
                    if (this.cached_personal_details) {
                        this.initPageData(this.cached_personal_details);
                    } else {
                        Firestore
                            .collection(Constants.FIRE_S_USERS)
                            .doc(user.uid).get().then((details) => {
                            if (details.exists) {
                                console.log(details.data());
                                this.initPageData(details.data());
                                this.setVuexCacheForPersonalDetails(details.data());
                                console.log(details.data());
                            }
                        });
                    }
                }
            });
        },
        computed: {
            ...mapState(["astrings", "user_details", "async_request_sent", "cached_personal_details"]),
            /**
             * Данный вычисляемый процесс проверяет часный ли авторизированый пользователь
             * или нет для того чтобы спрятать поля заполнения которые не относятся к часному виду
             * акаунта
             * Влад. 26/01/19
             */
            checkNotPrivateUser: function () {
                return this.user_details.account_type === Constants.ACC_TYPE_CONSTRUCTOR ||
                    this.user_details.account_type === Constants.ACC_TYPE_AGENCY;
            }
        },
        watch: {
            /**
             * Данный вочер реагирует когда пользователь подтверждает выбранное
             * местоположение, даллее функция берет данные из объекта
             * выбранного местоположение и заполняет нужные поля в главном объекте,
             * в данном случае в объекте местоположения компании.
             * Влад. 26/02/19
             */
            tempData: {
                deep: true,
                handler(v) {
                    AppTools.syncLocationPickerData(this.personal_details, v.location);
                }
            }
        },
        methods: {
            ...mapMutations(["setVuexAsyncRequestSent", "setVuexCacheForPersonalDetails"]),

            /**
             * Инизиализирует данные страницы
             * @param pageData - объект с данными полученый из фаерстора или из кеша.
             * Влад. 27/02/19
             */
            initPageData(pageData) {
                Object.assign(this.personal_details, pageData);
                AppTools.syncLocationPickerData(this.tempData.location, pageData);
            },

            /**
             * Данная функция сохраняет данные в Фаербейсе.
             * Влад. 25/01/19
             */
            saveDetails() {
                this.$validator.validate().then((isValid) => {
                    if (isValid) {
                        this.setVuexAsyncRequestSent(true);
                        this.callFirebaseDataSave(true);
                    } else {
                        Notifications.showWarning(this.astrings.attention, this.astrings.notifications.fill_required);
                    }
                });
            },

            /**
             * Данная функция производит сохранение личных данных в Фаербейсе
             * @param showSuccess - булеанное значение которое является true в случае когда после сохранения нужно
             * оповестить пользователя об удачном сохранении его даннух.
             * Влад. 06/04/19
             */
            callFirebaseDataSave(showSuccess) {
                const validDetailsToSave = AppTools.validatePersonalDataBeforeSave(this.personal_details);
                Firestore
                    .collection(Constants.FIRE_S_USERS)
                    .doc(this.user_details.account_id)
                    .set(validDetailsToSave, {merge: true}).then(() => {
                    this.setVuexAsyncRequestSent(false);
                    //this.setVuexCacheForPersonalDetails(this.personal_details);
                    if (showSuccess) {
                        Notifications.showSuccess("", this.astrings.personal_details.details_saved);
                    }
                });
            }
        }
    }
</script>

<style lang="sass">

</style>