<template>
    <div class="dm-profile-content">
        <div class="dm-profile-links">
            <router-link v-for="link in profile_links"
                         v-bind:to="link.route"
                         v-bind:class="is_phone ? link.cls : ''"
                         v-bind:key="link.name">{{!is_phone ? astrings.links[link.name] : ""}}</router-link>
        </div>
        <router-view class="dm-prof-views"/>
    </div>
</template>

<script>
    import {mapState, mapMutations} from 'vuex';
    import {Constants} from "@/globals/Constants";

    export default {
        name: "Profile",
        data() {
            return {
                profile_links: Constants.PROFILE_LINKS
            }
        },
        created() {
            window.addEventListener('resize', this.handleResize);
        },
        beforeDestroy: function () {
            window.removeEventListener('resize', this.handleResize)
        },
        methods: {
            ...mapMutations([
                "setVuexIsPhone"
            ]),
            handleResize() {
                let value = window.innerWidth < Constants.PHONE_WIDTH;
                if (value !== this.is_phone) {
                    this.setVuexIsPhone(value);
                }
            }
        },
        computed: {
            ...mapState(["astrings", "is_phone"])
        }
    }
</script>