<template>
    <div class="dm-view-frame">
        <h4 class="dm-view-section-title">{{ astrings.support.title }}</h4>
        <div class="dm-support-message-frame">
            <ul class="dm-support-message-list">
                <li v-for="msg in message.conversation" :class="msg.type" :key="msg.uuid">
                    <span class="support-message-header">{{getUserType(msg.type)}} {{msg.timestamp | moment("DD.MM.YYYY, kk:mm:ss")}}</span>
                    <span>{{msg.text}}</span>
                </li>
            </ul>
            <div class="dm-message-editor">
                <dm-textarea-component
                        :header="astrings.support.message"
                        :placeholder="astrings.message.placeholder"
                        v-model="message.text">
                </dm-textarea-component>
                <button @click.prevent="sendMessage" class="dm-ok-btn"> {{ astrings.send }}</button>
            </div>
        </div>
    </div>
</template>

<script>
    import Authentication from "@/firebase/authentication";
    import {Constants} from "@/globals/Constants"
    import {mapState} from "vuex"
    import DmTextareaComponent from "@/components/inputs/textarea-component";
    import {uuid} from 'vue-uuid';

    export default {
        name: "Support",
        components: {DmTextareaComponent},
        data() {
            return {
                message: {
                    text: '',
                    conversation: [
                        {
                            text: "Первое сообщение",
                            type: "user",
                            uuid: uuid.v1(),
                            timestamp: 1549027185
                        },
                        {
                            text: "Второе сообщение",
                            type: "user",
                            uuid: uuid.v1(),
                            timestamp: 1549027195
                        },
                        {
                            text: "Ответ администратора",
                            type: "admin",
                            uuid: uuid.v1(),
                            timestamp: 1549027712
                        },
                        {
                            text: "Вопрос",
                            type: "user",
                            uuid: uuid.v1(),
                            timestamp: 1549029902
                        },
                        {
                            text: "Ответ",
                            type: "admin",
                            uuid: uuid.v1(),
                            timestamp: 1549031728
                        }
                    ]
                }
            }
        },

        created() {

        },
        computed: {
            ...mapState(["astrings"])
        },
        methods: {
            /**
             * Отправка сообщения
             * Макс. 23/02/19 - с Днём Защитника Отечества!)
             */
            sendMessage() {
                console.log(this.message.text);
            },
            /**
             * Функция возвращает тип текущего пользователя - администратор или автор диалога
             * Макс. 23/02/19 - с Днём Защитника Отечества!)
             */
            getUserType(type) {
                if (type === 'admin') {
                    return this.astrings.support.admin
                } else {
                    return this.astrings.support.you
                }
            }
        },

    }
</script>

<style lang="sass">
    @import "../../styles/presets"

    .dm-support-message-list
        overflow: auto
        overflow-x: hidden
        padding: 10px 10px 10px 0
        +setGridAuto(auto, 10px, "rows")

    .dm-support-message-frame
        height: 100%

    .dm-message-editor
        +setGrid(1fr auto, 10px, null, null, "columns")
        padding: 0 10px 0 0
        align-items: flex-end

    ul.dm-support-message-list li
        padding: 10px 15px 15px 15px
        background: $light_grey
        display: flex
        flex-direction: column

    ul.dm-support-message-list li span:last-child
         margin: 5px 0 0 0

    .support-message-header
        font-size: 10px

</style>