<template>
    <div class="dm-company-logo-operator">
        <div class="dm-company-logo-box">
            <img v-bind:src="dataModel.company_logo"/>
            <preloader v-if="uploading"></preloader>
        </div>
        <image-uploader
                :preview="false"
                :debug="0"
                :maxWidth="140"
                :quality="1"
                :autoRotate=true
                outputFormat="blob"
                :className="['fileinput', { 'fileinput--loaded' : hasImage }]"
                capture="environment"
                accept="image/*"
                doNotResize="['gif', 'svg']"
                @input="setImage">

            <label for="fileInput" slot="upload-label" class="dm-file-picker-btn">
                {{getButtonText}}
            </label>
        </image-uploader>
    </div>
</template>

<script>
    import {Firebase} from '@/firebase/firebaseConf';
    import {mapState} from "vuex";
    import Preloader from "@/components/Preloader";

    export default {
        name: "ImageDropZone",
        props: ["dataModel", "method"],
        components: {
            Preloader
        },
        data: function () {
            return {
                uploading: false,
                hasImage: false
            }
        },
        computed: {
            ...mapState(["astrings", "user_details"]),
            getButtonText: function () {
                return this.dataModel.company_logo !== null ? this.astrings.personal_details.change_logo : this.astrings.personal_details.add_logo
            }
        },
        methods: {
            /**
             * Фунцкция которая вызывается после того как пользователь загрузил выбранную картинку в браузер.
             * Здесь мы загружаем выбранную картинку в хранилище фаербэйса затем сохраняем премой URL на скачивание
             * картинки в данных о компании
             * @param file - Image blob
             * Влад. 02/02/19
             */
            setImage: function (file) {
                this.hasImage = true;
                this.uploading = true;
                const ref = Firebase.storage().ref();
                const folder = ref.child("avatars");
                const fl = folder.child(this.user_details.account_id + ".png");
                fl.put(file).then((snap) => {
                    if (snap) {
                        fl.getDownloadURL().then((url) => {
                            this.dataModel.company_logo = url;
                            this.uploading = false;
                            this.method();
                        });
                    }
                });
            }
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets"
    .dm-avatar-section
        display: flex
        justify-content: center

    .dm-company-logo-operator
        width: 150px
        +setGridAuto(auto, 15px, "rows")

    #fileInput
        display: none


    .dm-file-picker-btn
        background: $app_main_color
        color: white
        display: flex
        align-items: center

    .dm-company-logo-box
        position: relative
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        height: 140px

</style>