<template>
    <div class="dm-carousel-frame" id="dm-post-view-carousel">
        <carousel :per-page="1" :navigation-enabled="true">
            <slide v-for="(image, index) in images" :key="index" :index="index">
                <clazy-load :src="image" loadedClass="dm-image-loaded" loadingClass="dm-image-loading">
                    <img :src="image">
                    <i slot="placeholder" class="dm-hourglass-i"></i>
                </clazy-load>
            </slide>
        </carousel>
    </div>
</template>

<script>
    import {mapState} from "vuex";
    import {Carousel, Slide} from 'vue-carousel';

    export default {
        name: "CarouselGallery",
        props: ["images"],
        components: {
            Carousel,
            Slide
        },
        data() {
            return {
                settings: {
                    centerMode: true,
                    keysControl: true,
                    mouseDrag: false,
                    wheelControl: false
                },
                windowResizeTimeout: null,
                index: null
            }
        },
        computed: {
            ...mapState([
                "astrings"
            ]),
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"

    .dm-carousel-frame
        +setGrid(1fr, null, minmax(300px, 1fr), null, "both")

    .VueCarousel-slide
        display: flex
        align-items: center
        justify-content: center

    .VueCarousel-dot-container, .VueCarousel-dot
        margin-top: 0 !important

    .VueCarousel-navigation-button
        background-color: $app_main_color !important
        color: white !important
        -webkit-appearance: none
        border-radius: 0
        &:hover
            outline: none !important

    .VueCarousel-navigation-prev
        left: 30px !important
    .VueCarousel-navigation-next
        left: auto !important
        right: 30px !important

    .VueCarousel-dot--active
        background-color: $app_main_color !important

    .VueCarousel-navigation
        position: absolute
        top: 50%
        width: 100%
        display: flex
        justify-content: space-between

    .icon path
        fill: $app_main_color
        width: 30px
        height: 30px

        &:last-child
            fill: white

    .dm-image-loaded
        height: 100%
        display: flex
        align-items: center

        img
            width: 100%

    .dm-image-loading
        display: flex
        align-items: center
        justify-content: center
        color: $app_main_color

</style>