<template>
    <div class="dm-filters-form">
        <dm-picker :header="astrings.city"
                   :pdata="cities"
                   v-model="city"
                   key-name="id"
                   value-name="name"
                   :method="getCityCoordinates">
        </dm-picker>
        <dm-picker :header="astrings.property_details.post_type"
                   :pdata="astrings.post_type_options"
                   key-name="code"
                   value-name="text"
                   v-model="filtersObject.post_type">
        </dm-picker>
        <dm-picker :header="astrings.property_details.property_type_ttl"
                   :pdata="astrings.property_type"
                   key-name="code"
                   value-name="text"
                   v-model="filtersObject.property_type">
        </dm-picker>
        <dm-picker :header="astrings.property_details.construction_type"
                   :pdata="astrings.construction_type_options"
                   key-name="code"
                   value-name="text"
                   v-model="filtersObject.construction_type">
        </dm-picker>
        <dm-picker :header="astrings.property_details.condition"
                   :pdata="astrings.prop_condition_opt"
                   key-name="code"
                   value-name="text"
                   v-model="filtersObject.condition">
        </dm-picker>
        <div class="dm-filter-separator"></div>
        <slider-component :header="astrings.property_details.property_size"
                          :value-obj="filtersObject"
                          field="property_size"
                          type="size"
                          :max="propSizeMax"
                          :interval="propSizeInterval">
        </slider-component>
        <slider-component :header="astrings.property_details.rooms_amount"
                          :value-obj="filtersObject"
                          field="rooms_amount"
                          :min="roomsAmountMin"
                          :max="roomsAmountMax"
                          :interval="roomsInterval">
        </slider-component>
        <div class="dm-filter-separator"></div>
        <h3>{{astrings.property_details.property_price}}</h3>
        <dm-radio :header="astrings.property_details.price_total"
                  name="price"
                  field="selectedPriceType"
                  :model="selectedTypes"
                  value="totalPrice"></dm-radio>
        <slider-component :value-obj="filtersObject"
                          field="price"
                          type="price"
                          :disabled="selectedTypes.selectedPriceType === 'ppm'"
                          :max="priceMax"
                          :interval="priceInterval">
        </slider-component>
        <dm-radio :header="astrings.property_details.price_per_meter"
                  name="price"
                  field="selectedPriceType"
                  :model="selectedTypes"
                  value="ppm">
        </dm-radio>
        <slider-component :value-obj="filtersObject"
                          field="price_pm"
                          type="price"
                          :disabled="selectedTypes.selectedPriceType === 'totalPrice'"
                          :max="ppm_max"
                          :interval="ppm_interval">
        </slider-component>
    </div>
</template>

<script>
    import {Constants} from '@/globals/Constants';
    import {mapState} from 'vuex';
    import SliderComponent from "./inputs/slider-component";
    import AppTools from "@/globals/CommonTools";

    export default {
        name: "FiltersForm",
        props: ["filtersObject"],
        components: {
            SliderComponent,
        },
        data() {
            return {
                city: Constants.DEFAULT_PICKER_CITY,
                selectedTypes: {
                    selectedPriceType: "totalPrice",
                },
                priceMax: 500000,
                priceInterval: 5000,
                ppm_max: 2000,
                ppm_interval: 10,
                propSizeMax: 300,
                propSizeInterval: 5,
                roomsAmountMin: 1,
                roomsAmountMax: 7,
                roomsInterval: 1
            }
        },
        computed: {
            ...mapState([
                "astrings",
                "cities"
            ])
        },
        methods: {
            /**
             * Функция получающае координаты города при выборе города в пикере
             * и отправляющая ивент в компонент карты для того чтобы карта сфокусировалась
             * на выббраном городе.
             * Влад. 10/02/19
             */
            getCityCoordinates() {
                const coords = AppTools.getCityCoordinates(this.city);
                this.$bus.emit(Constants.BUS_MOVE_MAP, coords);
            },
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"

    .dm-filters-form
        width: 100%
        +setGridAuto(auto, 10px, "rows")
        h3
            color: $very_dark_grey
            font-size: $regular_font
        h4
            color: $very_dark_grey

    .dm-filter-separator
        display: flex
        flex-grow: 1
        height: 1px
        background: $dark_grey
        margin: 5px 0

</style>