<template>
    <vue-drop-zone ref="postPhotos"
                   class="dm-dropzone-element"
                   id="dropzone"
                   action="/"
                   :options="dropOptions">
    </vue-drop-zone>
</template>

<script>
    import {Constants} from "@/globals/Constants";
    import AppTools from "@/globals/CommonTools";
    import vue2Dropzone from 'vue2-dropzone';
    import 'vue2-dropzone/dist/vue2Dropzone.min.css';

    export default {
        name: "ImagesDropZone",
        props: ["zoneInstance", "zoneId", "maxImages"],
        components: {
            vueDropZone: vue2Dropzone
        },
        data() {
            const self = this;
            return {
                dropOptions: {
                    url: "/",
                    autoProcessQueue: false,
                    paramName: "file",
                    clickable: true,
                    maxFilesize: Constants.MAX_FILE_IMAGE_SIZE,
                    maxFiles: Constants.MAX_ALLOWED_IMAGES,
                    addRemoveLinks: true,
                    acceptedFiles: ".png,.jpg",
                    thumbnailWidth: 200,
                    thumbnailHeight: 200,
                    dictDefaultMessage: AppTools.getDropZoneStrings("dictDefaultMessage"),
                    dictRemoveFile: AppTools.getDropZoneStrings("dictRemoveFile"),
                    dictMaxFilesExceeded: AppTools.getDropZoneStrings("dictMaxFilesExceeded"),
                    dictFileTooBig: AppTools.getDropZoneStrings("dictFileTooBig"),
                    init: function () {
                        self.zoneInstance.zone = this;
                        this.on("success", function () {});
                        this.on("addedfile", function (file) {
                            self.resizeAddedImage(file);
                            this.options.success(file);
                        });
                    }
                }
            }
        },
        methods: {
            /**
             * Данная функция изменяет размер добавленой в Дропзон фотографии.
             * @param file - файл который нужно именить
             * @param width - Image required width
             * @param height - image required height
             * Влад. 02/05/19
             */
            resizeAddedImage(file, width = 900, height = 900) {
                const ts = this;
                const MAX_WIDTH = width;
                const MAX_HEIGHT = height;
                const reader = new FileReader();

                reader.addEventListener("load", function (event) {
                    const origImg = new Image();
                    origImg.src = event.target.result;
                    origImg.addEventListener("load", function (event) {
                        let width = event.target.width;
                        let height = event.target.height;

                        if (width <= MAX_WIDTH && height <= MAX_HEIGHT) {
                            this.zoneInstance.enqueueFile(file);
                            return;
                        }

                        if (width > height) {
                            if (width > MAX_WIDTH) {
                                height *= MAX_WIDTH / width;
                                width = MAX_WIDTH;
                            }
                        } else {
                            if (height > MAX_HEIGHT) {
                                width *= MAX_HEIGHT / height;
                                height = MAX_HEIGHT;
                            }
                        }

                        const canvas = document.createElement('canvas');
                        canvas.width = width;
                        canvas.height = height;

                        const ctx = canvas.getContext("2d");
                        ctx.drawImage(origImg, 0, 0, width, height);

                        const resizedFile = ts.base64ToFile(canvas.toDataURL(), file);

                        const origFileIndex = ts.zoneInstance.zone.files.indexOf(file);
                        ts.zoneInstance.zone.files[origFileIndex] = resizedFile;

                        const indexOfOriginal = ts.zoneInstance.zone.files.findIndex(file => file.name === resizedFile.name);
                        if (indexOfOriginal > -1) {
                            ts.zoneInstance.zone.files[indexOfOriginal] = resizedFile;
                        }
                    });
                });

                reader.readAsDataURL(file);
            },

            /**
             * Функция получает стринг Base64 уменьшеной фотографии и конвертирует его в файл
             * чтобы можно было поменять оригинальный файл в масиве Дропзона на уменьшеный файл.
             * @param dataURI - стринг нового уменьшеного файла.
             * @param origFile - оригинальный файл для извлечения из него нужных данных.
             * @returns {File}
             * Влад. 02/05/19
             */
            base64ToFile(dataURI, origFile) {
                let byteString, mimestring;

                if (dataURI.split(',')[0].indexOf('base64') !== -1) {
                    byteString = atob(dataURI.split(',')[1]);
                } else {
                    byteString = decodeURI(dataURI.split(',')[1]);
                }

                mimestring = dataURI.split(',')[0].split(':')[1].split(';')[0];

                let content = [];
                for (let i = 0; i < byteString.length; i++) {
                    content[i] = byteString.charCodeAt(i);
                }

                let newFile = new File(
                    [new Uint8Array(content)], origFile.name, {type: mimestring}
                );

                const origProps = [
                    "upload", "status", "previewElement", "previewTemplate", "accepted"
                ];

                origProps.forEach(function (p) {
                    newFile[p] = origFile[p];
                });

                return newFile;
            }
        }
    }
</script>

<style lang="sass">

</style>