<template>
    <div class="dm-list-square">
        <h4 class="dm-view-section-title">{{header}}</h4>
        <ul>
            <li v-for="detail in listData" :key="detail">{{astrings[groupName][detail]}}</li>
        </ul>
    </div>
</template>

<script>
    import {mapState} from "vuex";
    export default {
        name: "list-square",
        props: ["header", "groupName", "listData"],
        computed: {
            ...mapState(["astrings"])
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"
    .dm-list-square
        padding: 0 10px 10px 10px
        background-color: $super_light_grey
        border: solid 1px $dark_grey
        box-sizing: border-box

        h4
            font-size: $regular_font
            font-weight: bold
            margin: 0 0 5px 0

        ul
            +setGridAuto(auto, 5px, "rows")
            font-size: $small_font
</style>