<template>
    <div class="dm-map-container">
        <div class="dm-yandex-maps" :id="mapName"></div>
        <preloader v-if="map_is_loading"
                   :message="astrings.loading_map"
                   container-class="nb-preloader-transparent">
        </preloader>
    </div>
</template>

<script>
    import {Constants} from '@/globals/Constants';
    import AppTools from "@/globals/CommonTools";
    import Preloader from "@/components/Preloader";
    import {mapState, mapMutations} from "vuex";
    import gk from "@/globals/GateKeeper";
    import ymaps from 'ymaps';

    export default {
        name: "MapView",
        props: ["name", "method", "type"],
        components: {
            Preloader
        },
        data() {
            return {
                ymaps: null,
                mapName: this.name + "-map",
                map_is_loading: true,
                token: Constants.MAP_TOKEN,
                highlightedPost: null
            }
        },
        mounted: function () {
            const self = this;
            //window.addEventListener('load', function () {
            ymaps.load().then(maps => {
                self.ymaps = maps;
                const map = document.getElementById(self.mapName);
                const options = {
                    zoom: 14,
                    center: [47.01861, 28.84139],
                    controls: [],
                    copyrights: false
                };
                const config = {
                    suppressMapOpenBlock: true,
                    restrictMapArea: [
                        [45.30629, 26.16455],
                        [48.53786, 30.14328]
                    ]
                };
                self.map = new maps.Map(map, options, config);

                self.map.events.add('actiontick', () => {
                    this.getMapBounds();
                });


                if (this.type === "location") {
                    self.map.events.add('click', function (event) {
                        self.getAddressAndSetMapPointer(event);
                    });
                }

                this.$bus.on(Constants.BUS_MOVE_MAP, this.moveMap);

                this.waitForMapIsLoaded().then(function () {
                    self.drawPostMarkersOnTheMap();
                    self.map_is_loading = false;
                });

                this.initStuffForMainMap();
                this.getMapBounds();
            })
            //})
        },
        watch: {
            postResults() {
                this.drawPostMarkersOnTheMap();
            }
        },
        beforeDestroy() {
            this.$bus.off(Constants.BUS_MOVE_MAP);
            this.$bus.off(Constants.BUS_HIGHLIGHT_POINTER);
        },
        methods: {
            ...mapMutations(["setVuexMapBounds"]),
            initStuffForMainMap() {
                if(this.name === "main") {
                    this.$bus.on(Constants.BUS_HIGHLIGHT_POINTER, this.highlightMapPointer);
                }
            },
            /**
             * Данная функция получает массив с объявлениями и вырисовывает маркер на карте для каждого
             * объявления.
             * Влад. 28/05/19
             */
            drawPostMarkersOnTheMap(posts = this.postResults) {
                if (this.ymaps && posts && posts.length && this.name === "main") {
                    this.map.geoObjects.removeAll();
                    if (posts && posts.length) {
                        posts.map(post => {
                            const tooltipTemplate = this.ymaps.templateLayoutFactory.createClass(`<div id="post-${post.uuid}"><div class='dm-tooltip-arrow'></div><div class='dm-post-marker'>${AppTools.formatPrice(post.price)}</div></div>`);
                            this.createMapMarker([post.long, post.lat], tooltipTemplate);
                        });
                    }
                }
            },

            highlightMapPointer() {
                if (this.hovered_post_id) {
                    this.highlightedPost = document.getElementById(`post-${this.hovered_post_id}`);
                    if (this.highlightedPost) {
                        this.highlightedPost.classList.add("dm-post-highlight");
                    }
                } else if(this.highlightedPost) {
                    this.highlightedPost.classList.remove("dm-post-highlight");
                }
            },

            /**
             * данная функция является искуственным уочером для того чтобы узнавать
             * когда яндекс карта плоностью подгрузилась, потому что эти долбоебы из яндекса
             * не могут сделать нормальный ивент для отслеживания такой простой функции, блядь
             * дебилы ебаные, сука еще себя девелоперами назвают, все через жопу
             * у них там.
             * Влад. 17/02/19
             */
            waitForMapIsLoaded() {
                return new this.ymaps.vow.Promise(resolve => {
                    const tc = this.getTileContainer();
                    let readyAll;
                    tc.tiles.each(function (tile) {
                        if (!tile.isReady()) {
                            readyAll = false;
                        }
                    });
                    if (readyAll) {
                        resolve();
                    } else {
                        tc.events.once("ready", function () {
                            resolve();
                        });
                    }
                });
            },
            /**
             * Даная функция получает инстанс контейнера с елементами карты чтобы отследить
             * их полную загрузку.
             * Влад. 17/02/19
             */
            getTileContainer() {
                const layer = this.map.layers.get(0).get(0);
                for (var k in layer) {
                    if (layer.hasOwnProperty(k)) {
                        if (layer[k] instanceof this.ymaps.layer.tileContainer.CanvasContainer
                            || layer[k] instanceof this.ymaps.layer.tileContainer.DomContainer) {
                            return layer[k];
                        }
                    }
                }
                return null;
            },
            moveMap(data) {
                this.map.setCenter(data);
            },
            /**
             * Данная функция вытягивает координаты карты в месте где произошел клик мышки
             * затем полученные координаты отпровляются на АПИ Яндекса для получения тоочного адреса
             * в месте кликла мышки.
             * Влад. 08/02/19
             */
            getAddressAndSetMapPointer(event) {
                this.setMapLoadingFlag(true);
                const coords = event.get('coords');
                this.map.geoObjects.removeAll();
                gk.fetch("get", "https://geocode-maps.yandex.ru/1.x/?apikey=" + Constants.MAP_TOKEN + "&geocode=" + coords[0] + "," + coords[1] + "&spn=" + coords[0] + "," + coords[1] + "&format=json&sco=latlong&rspn=1&lang=en_RU").then((response) => {
                    const rs = response.response.GeoObjectCollection.featureMember[0].GeoObject;
                    const formattedData = {
                        city: this.getSelectedCity(rs.metaDataProperty.GeocoderMetaData.Address.Components),
                        address: this.constructAddress(rs),
                        long: coords[0],
                        lat: coords[1]
                    };
                    this.method(formattedData);
                    const tooltipTemplate = this.ymaps.templateLayoutFactory.createClass("<div class='dm-tooltip-arrow'></div><div class='dm-selected-address-marker'>" + formattedData.address + "</div>");
                    this.createMapMarker(coords, tooltipTemplate);
                    this.setMapLoadingFlag(false);
                });
            },
            /**
             * Данная функция получает параметры координат и текст для маркера
             * и создает маркер на карте
             * Влад. 11/02/19
             */
            createMapMarker(coords, template, customIcon) {
                const marker = new this.ymaps.Placemark([coords[0], coords[1]], {}, {
                    iconContentLayout: template ? template : null,
                    iconImageHref: customIcon ? customIcon : null
                });
                this.map.geoObjects.add(marker);
            },

            /**
             * Данная функция собират адресс и имеющихся компонентов для того чтобы
             * отобразить его на карте и в дальнейшем как часть объявления
             * Влад. 13/02/19
             */
            constructAddress(locationData) {
                const adrs = locationData.metaDataProperty.GeocoderMetaData.Address.Components;
                const requiredFields = ["locality", "street", "house"];
                const addressElements = [];
                requiredFields.map((em) => {
                    const element = adrs.find((elm) => {
                        return elm.kind === em;
                    });
                    if (element) {
                        addressElements.push(element.name);
                    }
                });
                return addressElements.join(", ");
            },
            /**
             * Данная функция ищет название форода внутри ебанутой структуры
             * данных Яндекса которую построили недоинженеры этой компании.
             * Влад. 11/02/19
             */
            getSelectedCity(address) {
                if (address) {
                    const cityObj = address.find((part) => {
                        return part.kind === "locality";
                    });
                    return cityObj ? cityObj.name : null;
                } else {
                    return null;
                }
            },
            /**
             * Функция запускающая и отключающая спиннер во время
             * подъема карт либо запуске HTTP запросов связанных с картой
             * @param flag - boolean value
             * Vlad. 11/02/19s
             */
            setMapLoadingFlag(flag) {
                this.map_is_loading = flag;
            },

            /**
             * Дання функция получает координаты границ карты левый верхний угол и правый нижний и сохраняет их
             * в песочнице аппликации для дальнейших нужд
             * Влад. 25/05/19
             */
            getMapBounds() {
                const bounds = this.map.getBounds();
                this.setVuexMapBounds(bounds);
            }
        },
        computed: {
            ...mapState([
                "astrings",
                "postResults",
                "hovered_post_id"
            ])
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"

    .dm-map-container
        display: flex
        flex-grow: 1
        position: relative

        .dm-yandex-maps
            width: 100%
            height: 100%

    .dm-selected-address-marker
        color: $app_main_color
        border: solid 2px $app_main_color
        background: white
        border-radius: 10px

    .dm-post-marker
        color: white
        background-color: $app_main_color
    .dm-post-highlight
        .dm-post-marker
            background-color: $main_red
        .dm-tooltip-arrow
            border-top: 35px solid $main_red


    .dm-selected-address-marker, .dm-post-marker
        position: absolute
        bottom: -5px
        left: -5px
        display: flex
        justify-content: center
        padding: 5px 7px
        flex-wrap: nowrap
        flex-grow: 1
        min-width: 30px
        min-height: 15px
        +ellipsis()

    .dm-tooltip-arrow
        position: absolute
        left: -2px
        width: 0
        height: 0
        border-left: 15px solid transparent
        border-right: 15px solid transparent
        border-top: 35px solid $app_main_color
        +rotateElement(26deg)
</style>