<template>
    <div class="dm-phones-sections">
        <div class="dm-number-row-holder" v-for="(phone, i) in dataModel" v-bind:key="i">
            <phone-input :header="inputTitle"
                         :disabled="disabled"
                         :field-icon="fieldIcon"
                         v-model="dataModel[i]">
            </phone-input>
            <DeleteButton :method="deletePhone"
                          :uuid="phone.uuid"
                          :disabled="disabled"
                          btn-class="dm-medium-delete"
                          v-if="dataModel.length > 1">
            </DeleteButton>
        </div>
        <div class="dm-phones-sections-footer">
            <button class="dm-ok-btn"
                    @click.prevent="addAnotherPhone()"
                    :disabled="reachedMax || disabled">{{astrings.add}}</button>
        </div>
    </div>
</template>

<script>
    import {mapState} from "vuex";
    import DeleteButton from "@/components/inputs/delete-row-btn";
    import PhoneInput from "@/components/inputs/phone-input";
    import {Constants} from "@/globals/Constants";
    import {uuid} from 'vue-uuid';

    export default {
        name: "MultiplePhoneNumbers",
        props: ["inputTitle", "dataModel", "fieldIcon", "disabled"],
        components: {
            PhoneInput,
            DeleteButton
        },
        computed: {
            ...mapState(["astrings"]),
            reachedMax: function () {
                return this.dataModel.length === Constants.MAX_ALLOWED_PHONES;
            }
        },
        methods: {
            /**
             * Данная функция вызывается кнопкой ДОБАВИТЬ/ADD
             * и добавляет еще одно телефонное поле в список
             * телефонов
             * Влад. 23/01/19
             */
            addAnotherPhone() {
                if (this.dataModel.length < Constants.MAX_ALLOWED_PHONES) {
                    const phoneModel = {
                        uuid: uuid.v1(),
                        code: null,
                        number: null
                    };
                    this.dataModel.push(phoneModel);
                }
            },
            /**
             * Данная функция вызывается кнопкой DELETE и стерает имеющийся в списке номер телефона
             * @param uuid - идентификационный номер объекта с номером телефона который нужно стереть нахуй
             * Влад. 23/01/19
             */
            deletePhone(uuid) {
                const index = this.dataModel.findIndex((obj) => obj.uuid === uuid);
                if (index !== null && index > -1) {
                    this.dataModel.splice(index, 1);
                }
            }
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"

    .dm-number-row-holder
        display: flex
        align-items: flex-end

        .dm-input-component
            flex-grow: 1

        .dm-medium-delete
            margin: 0 0 0 10px

    .dm-phones-sections
        +setGridAuto(auto, 15px, "rows")

    .dm-phones-sections-footer
        display: flex
        justify-content: flex-end

</style>