<template>
    <form class="dm-scrollable-always">
        <div class="dm-auto-grid">
            <dm-picker :header="astrings.property_details.post_type"
                       :pdata="astrings.post_type_options"
                       :disabled="formDisabled"
                       key-name="code"
                       value-name="text"
                       v-model="post_details.post_type">
            </dm-picker>
            <dm-picker :header="astrings.property_details.property_type_ttl"
                       :pdata="astrings.property_type"
                       :disabled="formDisabled"
                       key-name="code"
                       value-name="text"
                       v-model="post_details.property_type">
            </dm-picker>
            <dm-picker v-show="isRent"
                       :header="astrings.property_details.rent_term"
                       :pdata="astrings.rent_type_options"
                       :disabled="formDisabled"
                       key-name="code"
                       value-name="text"
                       v-model="post_details.rent_type">
            </dm-picker>
            <dm-picker :header="astrings.property_details.construction_type"
                       :pdata="astrings.construction_type_options"
                       :disabled="formDisabled"
                       key-name="code"
                       value-name="text"
                       v-model="post_details.construction_type">
            </dm-picker>
            <dm-date-picker :header="astrings.property_details.construction_year"
                            :data-model="post_details"
                            :disabled="formDisabled"
                            field-to-update="construction_year"
                            :clearable="false"
                            picker-type="year"
                            picker-format="YYYY">
            </dm-date-picker>
            <dm-picker :header="astrings.property_details.condition"
                       :pdata="astrings.prop_condition_opt"
                       :disabled="formDisabled"
                       key-name="code"
                       value-name="text"
                       v-model="post_details.condition">
            </dm-picker>
            <dm-digits-valid :header="astrings.property_details.floor"
                             :disabled="formDisabled"
                             v-model="post_details.floor_num"
                             max="2"
                             name="v_floor"
                             validate-options="required"
                             v-if="isApartmentType">
            </dm-digits-valid>
            <dm-digits-valid :header="astrings.property_details.floors_amount"
                             :disabled="formDisabled"
                             v-model="post_details.floors_amount"
                             name="v_floors_total"
                             validate-options="required"
                             max="2">
            </dm-digits-valid>
            <dm-digits-valid :header="astrings.property_details.property_size"
                             :disabled="formDisabled"
                             v-model="post_details.property_size"
                             max="6"
                             :method="calculatePrice"
                             field-icon="dm-sq-meter-i"
                             name="v_p_size"
                             validate-options="required">
            </dm-digits-valid>
            <dm-digits-input :header="astrings.property_details.land_size"
                             :disabled="formDisabled"
                             v-model="post_details.land_size"
                             max="7"
                             v-if="post_details.property_type === 'house'"
                             field-icon="dm-sq-meter-i">
            </dm-digits-input>
            <dm-digits-valid :header="astrings.property_details.rooms_amount"
                             :disabled="formDisabled"
                             v-model="post_details.rooms_amount"
                             max="3"
                             name="v_rooms"
                             validate-options="required">
            </dm-digits-valid>
            <dm-digits-input :header="astrings.property_details.bathrooms_amount"
                             :disabled="formDisabled"
                             v-model="post_details.bathrooms"
                             max="1">
            </dm-digits-input>
            <dm-digits-input :header="astrings.property_details.balcony"
                             :disabled="formDisabled"
                             v-model="post_details.balcony"
                             max="1">
            </dm-digits-input>
            <dm-digits-valid :header="priceTitle"
                             :disabled="formDisabled"
                             v-model="post_details.price"
                             name="v_price"
                             input-icon="dm-euro-i"
                             validate-options="required"
                             :method="calculatePpm"
                             :class="highlightInput"
                             max="10">
            </dm-digits-valid>
            <dm-digits-valid v-if="isSale"
                             :header="astrings.property_details.price_per_meter"
                             :disabled="formDisabled"
                             name="v_ppm"
                             input-icon="dm-euro-i"
                             validate-options="required"
                             v-model="post_details.price_pm"
                             field-icon="dm-sq-meter-i"
                             :method="calculatePrice"
                             :class="highlightInput"
                             max="10">
            </dm-digits-valid>
        </div>
        <h4 class="dm-view-section-title">{{astrings.location}}</h4>
        <location-picker :data-model="tempData"
                         :value="tempData.location.address" :disabled="formDisabled"></location-picker>
        <h4 class="dm-view-section-title" v-if="isRent">{{astrings.basic_conditions}}</h4>
        <div class="dm-auto-grid" v-if="isRent">
            <dm-checkbox :header="astrings.basic_cond_options[key]"
                         :disabled="formDisabled"
                         v-model="basic_conditions[key]"
                         v-for="(value, key) in basic_conditions"
                         :key="key">
            </dm-checkbox>
        </div>
        <h4 class="dm-view-section-title">{{astrings.details}}</h4>
        <div class="dm-auto-grid">
            <dm-checkbox :header="astrings.property_details[key]"
                         :disabled="formDisabled"
                         v-model="post_details.property_more_details[key]"
                         v-for="(value, key) in post_details.property_more_details"
                         :key="key">
            </dm-checkbox>
        </div>
        <h4 class="dm-view-section-title"
            v-if="isApartmentType">{{astrings.property_details.residential_complex_details}}</h4>
        <div class="dm-auto-grid" v-if="isApartmentType">
            <dm-checkbox :header="astrings.complex_details[key]"
                         :disabled="formDisabled"
                         v-model="complex_details[key]"
                         v-for="(value, key) in complex_details"
                         :key="key">
            </dm-checkbox>
        </div>
        <h4 class="dm-view-section-title">{{astrings.description}}</h4>
        <dm-textarea-component :header="desc.text"
                               :disabled="formDisabled"
                               add-class="dm-post-details-ta"
                               v-model="post_details.description[desc.type]"
                               v-for="(desc, key) in desc_options"
                               maxlength="1500"
                               :key="key">
        </dm-textarea-component>
        <h4 class="dm-view-section-title">{{astrings.contact_details}}</h4>
        <dm-checkbox :header="astrings.property_details.use_saved_details"
                     :method="setExistingContactDetails"
                     v-if="existing_contact_checkbox && !existingData">
        </dm-checkbox>
        <div class="dm-auto-grid">
            <dm-input-valid :header="astrings.name"
                            v-model="post_details.contact_name"
                            name="v_contact_name"
                            validate-options="required">
            </dm-input-valid>
            <MultiPhones :input-title="astrings.phone_number"
                         :data-model="post_details.phone"
                         :disabled="formDisabled"
                         field-icon="dm-phone-i">
            </MultiPhones>
            <MultiPhones input-title="WhatsApp"
                         :data-model="post_details.whatsapp"
                         :disabled="formDisabled"
                         field-icon="dm-whatsapp-i">
            </MultiPhones>
            <MultiPhones input-title="Telegram"
                         :data-model="post_details.telegram"
                         :disabled="formDisabled"
                         field-icon="dm-telegram-i">
            </MultiPhones>
            <MultiPhones input-title="Viber"
                         :data-model="post_details.viber"
                         :disabled="formDisabled"
                         field-icon="dm-viber-i">
            </MultiPhones>
        </div>
        <h4 class="dm-view-section-title">{{astrings.photos}}</h4>
        <div class="dm-photo-frame" v-if="!existingData">
            <ul>
                <li>
                    <span>1.</span>
                    <span>{{maxFileSizeGuide}}</span>
                </li>
                <li>
                    <span>2.</span>
                    <span>{{maxFilesAmountGuide}}</span>
                </li>
                <li>
                    <span>3.</span>
                    <span>{{astrings.add_photo_guide_type}}</span>
                </li>
            </ul>
            <div class="dm-alert dm-alert-info">{{astrings.post_photos_important_msg}}</div>
            <DropZ :zone-instance="dropZoneInstance"></DropZ>
        </div>
        <Carousel :images="existingData.images" v-if="existingData"></Carousel>
        <preloader v-if="form_request_sent"
                   container-class="nb-preloader-transparent"
                   :show-progress="show_preloader_progress"
                   :percents="progress"
                   :message="preloaderText">
        </preloader>
    </form>
</template>

<script>
    import {Constants} from "@/globals/Constants";
    import AppTools from "@/globals/CommonTools";
    import LocationPicker from "@/components/LocationPicker";
    import {mapState, mapMutations} from "vuex";
    import MultiPhones from "@/components/MultiplePhoneNumbers";
    import Notifications from '@/notifications/Notifications';
    import {uuid} from 'vue-uuid';
    import {Firestore} from "@/firebase/firebaseConf";
    import Authentication from "@/firebase/authentication";
    import DmTextareaComponent from "../components/inputs/textarea-component";
    import Preloader from "@/components/Preloader";
    import {Firebase} from '@/firebase/firebaseConf';
    import DropZ from "@/components/ImagesDropZone";
    import Carousel from "../components/CarouselGallery";

    export default {
        name: "PostForm",
        components: {
            DmTextareaComponent,
            LocationPicker,
            MultiPhones,
            Preloader,
            DropZ,
            Carousel
        },
        props: ["existingData", "dialogInstance", "formDisabled"],
        data() {
            return {
                form_request_sent: false,
                show_preloader_progress: false,
                progress: 0,
                tempData: {
                    location: {}
                },
                desc_options: Constants.APP_LANGUAGES,
                show_location_picker: false,
                existing_contact_checkbox: false,
                post_details: AppTools.clone(Constants.NEW_POST_SCHEME),
                complex_details: AppTools.clone(Constants.COMPLEX_DETAILS),
                basic_conditions: AppTools.clone(Constants.BASIC_RENT_CONDITIONS),
                dropZoneInstance: {
                    zone: null
                }
            }
        },
        created() {
            Authentication.auth().onAuthStateChanged(user => {
                if (user) {
                    //Если данные сохранены в кэше, то поднимаем их из кэша
                    //если нет, то отправляем запрос в фаерстор
                    if (!this.cached_personal_details) {
                        Firestore
                            .collection(Constants.FIRE_S_USERS)
                            .doc(user.uid).get().then((details) => {
                            if (details.exists) {
                                this.setVuexCacheForPersonalDetails(details.data());
                                this.existing_contact_checkbox = AppTools.checkExistingContactDetails(details.data());
                            }
                        });
                    } else {
                        this.existing_contact_checkbox = AppTools.checkExistingContactDetails(this.cached_personal_details);
                    }
                    // Запускается в случае если компонент получил существующие данные для заполнения полей
                    // формы.
                    if (this.existingData) {
                        this.populateFormWithExistingData();
                    }
                }
            });

            this.$bus.off(Constants.BUS_SAVE_POST);
            this.$bus.on(Constants.BUS_SAVE_POST, this.publishPost);
        },
        computed: {
            ...mapState([
                "astrings",
                "app_lang",
                "user_details",
                "highlight_field",
                "cached_personal_details"
            ]),
            /**
             * Данное вычисляемое возвращает true если указанный тип объявления является съемом
             * Влад. 05/04/19
             */
            isRent: function () {
                return this.post_details.post_type === 'rent';
            },
            /**
             * Данное вычисляемое возвращает true если указанный тип объявления является продажей
             * Влад. 05/04/19
             */
            isSale: function () {
                return this.post_details.post_type === 'sale';
            },
            /**
             * Данное вычисляемое возвращает true если указанный тип имущества является КВАРТИРОЙ
             * Влад. 01/03/19
             */
            isApartmentType: function () {
                return this.post_details.property_type === "apartment";
            },
            /**
             * Данное вычисляемое подцвечивает поля в которых значения
             * были автоматически изменены.
             * Влад. 23/02/19
             */
            highlightInput: function () {
                return {
                    "dm-highlighted-input-green": this.highlight_field
                }
            },
            /**
             * Данное вычисляемое изменяет заголовок поля ЦЕНА в зависимости
             * от того какой тип объявления был выран ПРОДАЖА/АРЕНДА.
             * Влад. 23/02/19
             */
            priceTitle: function () {
                return this.post_details.post_type === 'sale' ? this.astrings.property_details.property_price : this.astrings.property_details.price_per_month;
            },
            /**
             * Данное вычисляемое решает какой текст прилоадера нужно захуярить,
             * если сохраняются данные уже существующего объявления то текст прилоадера
             * будет отличаться от того когда публикуется абсолютно девственное объявление.
             * Влад. 26/03/19
             */
            preloaderText: function () {
                return this.existingData ? this.astrings.saving : this.astrings.publishing;
            },
            /**
             * Данная функция конструирует текст для информационной строки в разделе ФОТОГРАФИИ.
             * информирующая о максимально разрешенном размере файла для загрузки.
             * Влад. 16/04/19
             */
            maxFileSizeGuide: ((comp) => {
                if (comp.astrings && comp.astrings.add_photo_guide_max_size) {
                    return comp.astrings.add_photo_guide_max_size.replace("{param}", Constants.MAX_FILE_IMAGE_SIZE);
                }
            }),
            /**
             * Данная функция конструирует текст для информационной строки в разделе ФОТОГРАФИИ.
             * информирующая о максимально разрешенном количестве фотографий для загрузки, чтобы пользователь
             * не слишком охуевал и не загружал бесконечное кол-во фоток бесплатно.
             * Влад. 16/04/19
             */
            maxFilesAmountGuide: ((comp) => {
                if (comp.astrings && comp.astrings.add_photo_max_amount) {
                    return comp.astrings.add_photo_max_amount.replace("{param}", Constants.MAX_ALLOWED_IMAGES);
                }
            })
        },
        watch: {
            /**
             * Данный вочер реагирует когда пользователь подтверждает выбранное
             * местоположение собственности, даллее функция берет данные из объекта
             * выбранного местоположение и заполняет нужные поле в главном объекте
             * нового объявления.
             * Влад. 17/02/19
             */
            tempData: {
                deep: true,
                handler(v) {
                    AppTools.syncLocationPickerData(this.post_details, v.location);
                }
            }
        },
        methods: {
            ...mapMutations([
                "setVuexHighlightField",
                "setVuexCacheForPersonalDetails"
            ]),

            /**
             * Данная функцтия проверяет заполнины ли обязательные поля объявления
             * и если да, то отправляет данные в для сохранения в базе данных всех
             * объявлений. Данная функция сохраняет объявления в двух разных таблицах:
             * 1. Таблица содержащая данные объявления для предпросмотра (легкая версия)
             * 2. Таблица содержащая все данные объявления.
             * Влад. 19/02/19
             */
            publishPost() {
                this.$validator.validate().then((isValid) => {
                    if (isValid) {
                        if (this.post_details.address) {
                            this.form_request_sent = true;
                            // Эти данные должны создаваться только при создании нового объявления
                            if (!this.existingData) {
                                this.post_details.created_at_ts = new Date().getTime();
                                this.post_details.renewed_at_ts = new Date().getTime();
                                this.post_details.account_id = this.user_details.account_id;
                            }
                            //*******************************************************************//
                            this.uploadAttachedImages();
                        } else {
                            Notifications.showWarning(this.astrings.attention, this.astrings.notifications.warn_property_location);
                        }
                    } else {
                        Notifications.showWarning(this.astrings.attention, this.astrings.notifications.fill_required);
                    }
                });
            },
            /**
             * Данная функция загружает картинки объявления на сервер после чего записывает линки на эти картинки
             * в объект объявления. После того как все картинки захуячелись на сервер вызывается функция сохранения
             * объявления. Если объявление создано без картинок то функионал загрузки картинок игнорируется и
             * сразу же вызываерся функция публикации объявления.
             * Влад. 14/04/19
             */
            uploadAttachedImages() {
                let addedFiles = null;
                if (!this.existingData) {
                    addedFiles = this.dropZoneInstance.zone.getAcceptedFiles();
                }
                if (addedFiles && addedFiles.length) {
                    this.show_preloader_progress = true;
                    const step = Math.floor(80 / addedFiles.length);
                    const allImagesPromises = [];
                    addedFiles.map(file => {
                        const ref = Firebase.storage().ref();
                        const folder = ref.child("gallery").child(this.post_details.account_id).child(this.post_details.uuid);
                        const fl = folder.child(uuid.v1() + ".png");
                        const isLoading = new Promise((resolve) => {
                            fl.put(file).then((snap) => {
                                if (snap) {
                                    fl.getDownloadURL().then((url) => {
                                        this.post_details.images.push(url);
                                        this.progress = this.progress + step;
                                        resolve();
                                    });
                                }
                            });
                        });
                        allImagesPromises.push(isLoading);
                    });

                    Promise.all(allImagesPromises).then(() => {
                        this.publishPostDetails();
                    });
                } else {
                    this.publishPostDetails();
                }
            },
            /**
             * Функция пуликующая новое или сохраняющая старое объявление
             * Влад. 14/04/19
             */
            publishPostDetails() {
                this.post_details.property_type === "apartment" ? this.post_details.complex_details = this.complex_details : null;
                this.post_details.geo_point = new Firebase.firestore.GeoPoint(this.post_details.lat, this.post_details.long);
                const liteWeightData = {
                    uuid: this.post_details.uuid,
                    account_id: this.user_details.account_id,
                    condition: this.post_details.condition,
                    construction_type: this.post_details.construction_type,
                    property_type: this.post_details.property_type,
                    property_size: this.post_details.property_size,
                    lat: this.post_details.lat,
                    long: this.post_details.long,
                    geo_point: this.post_details.geo_point,
                    price: this.post_details.price,
                    price_pm: this.post_details.price_pm,
                    rooms_amount: this.post_details.rooms_amount,
                    approved: false,
                    image: this.post_details.images.length ? this.post_details.images[0] : null
                };

                const postRefs = AppTools.getAllPostDbReferences(this.post_details);
                const slim = new Promise((resolve) => {
                    Firestore.doc(postRefs.postSlimPath).set(liteWeightData, {merge: !!this.existingData}).then(() => {
                        resolve();
                    });
                });

                const full = new Promise((resolve) => {
                    Firestore.doc(postRefs.postFullPath).set(this.post_details, {merge: !!this.existingData}).then(() => {
                        resolve();
                    });
                });

                const user = new Promise((resolve) => {
                    Firestore.doc(postRefs.postsPerUserPath).set(this.post_details, {merge: !!this.existingData}).then(() => {
                        resolve();
                    });
                });

                // Данный промис реагирует когда объявления сохранилось во всех трех указанных таблицах.
                Promise.all([slim, full, user]).then(() => {
                    if (this.dialogInstance) {
                        this.dialogInstance.$emit('close');
                    } else {
                        this.progress = 100;
                        setTimeout(() => {
                            this.resetPreloader();
                            this.resetFilledForm();
                            Notifications.showSuccess(this.astrings.attention, this.astrings.notifications.post_published, 5000);
                        }, 300);
                    }
                })
            },

            /**
             * Данная функция обнуляет все данные прелоадер и прогрес бара после того как
             * процесс пуликации объявления завершен.
             * Влад. 15/04/19
             */
            resetPreloader() {
                this.form_request_sent = false;
                this.show_preloader_progress = false;
                this.progress = 0;
            },
            /**
             * Данная функция вызывается при изменении числа в поле Цена недвижимости
             * и вычисляет стоимость кв. метра собственности
             * Влад. 23/02/19
             */
            calculatePpm() {
                if (this.post_details.post_type !== "rent") {
                    const value = AppTools.calculatePropertyPrices(this.post_details.property_size, this.post_details.price, this.post_details.price_pm, "ppm");
                    if (value) {
                        this.post_details.price_pm = value;
                        this.setVuexHighlightField();
                    }
                }
            },
            /**
             * Данная функция вызывается при изменении числа в поле Цена за кв.метер
             * и вычисляет общую стоимость собственности
             * Влад. 23/02/19
             */
            calculatePrice() {
                const value = AppTools.calculatePropertyPrices(this.post_details.property_size, this.post_details.price, this.post_details.price_pm, "price");
                if (value) {
                    this.post_details.price = value;
                    this.setVuexHighlightField();
                }
            },
            /**
             * Функция очищает все заполненные поля формы и приводит ее в исходный режим.
             * Влад. 12/03/19
             */
            resetFilledForm() {
                this.existing_contact_checkbox = false;
                this.post_details = AppTools.clone(Constants.NEW_POST_SCHEME);
                this.complex_details = AppTools.clone(Constants.COMPLEX_DETAILS);
            },
            /**
             * Данная функция вставляет имеющиеся контактные данные в контактные данные нового объявления
             * либо очищает заполненые поля контактных данных объявления, в зависимости от значения чекбокса.
             * @param value - checkbox value
             * Влад. 07/03/19
             */
            setExistingContactDetails(value) {
                if (value) {
                    this.post_details.contact_name = this.cached_personal_details.company_name || this.cached_personal_details.account_name;
                    Constants.CONTACT_FIELDS.map((field) => {
                        this.post_details[field] = AppTools.clone(this.cached_personal_details[field].slice());
                    });
                } else {
                    this.post_details.contact_name = null;
                    Constants.CONTACT_FIELDS.map((field) => {
                        this.post_details[field] = [{
                            code: null,
                            number: null,
                            uuid: uuid.v1()
                        }]
                    });
                }
            },
            /**
             * Данная функция заполняет пустой исходный объект формы объявления имеющиемся данными
             * существующего объявления. Используется когда пользователь нажимает настролу объявления
             * в рубрике МОИ ОБЪЯВЛЕНИЯ и открывается попап с плными деталями объявления.
             * Влад. 23/03/19
             */
            populateFormWithExistingData() {
                Object.keys(this.existingData).forEach(key => {
                    this.post_details[key] = this.existingData[key];
                });
                if (this.post_details.property_type === "apartment") {
                    this.complex_details = this.post_details.complex_details;
                }
                this.tempData.location.address = this.post_details.address;
            },
        }
    }
</script>

<style lang="sass">

    @import "../styles/presets.sass"

    .dm-new-post-map
        display: flex
        height: 450px
        margin: 10px 0 0 3px

    .dm-post-details-ta
        height: 100px

    .dm-photo-frame
        +setGridAuto(auto, 20px, "rows")

        ul
            +setGridAuto(auto, 10px, "rows")

        li
            +setGrid(auto 1fr, 5px, null, null, "columns")
            font-size: $regular_font
            color: $very_dark_grey

</style>