<template>
    <section class="dm-properties-section">
        <div class="dm-results-list-header">
            <button class="dm-filters-button dm-filters-i"></button>
        </div>
        <ul class="dm-post-results-list" v-if="postResults">
            <li v-for="post in postResults"
                :key="post.uuid"
                v-open-post="post"
                @mouseover="setHovered(post.uuid)"
                @mouseleave="setHovered()">
                <clazy-load :src="post.image ? post.image : ''" loadedClass="dm-cell-image-frame"
                            loadingClass="dm-image-loading">
                    <img :src="post.image ? post.image : ''">
                    <i slot="placeholder" :class="post.image ? 'dm-hourglass-i' : 'dm-image-i'"></i>
                </clazy-load>
                <div class="dm-post-cell-details">
                    <div class="dm-post-cell-row">
                        <span>{{astrings.property_details.property_size}}:</span>
                        <b>{{post.property_size}} m<sup>2</sup></b>
                    </div>
                    <div class="dm-post-cell-row">
                        <span>{{astrings.property_details.rooms_amount}}:</span>
                        <b>{{post.rooms_amount}}</b>
                    </div>
                    <div class="dm-post-price-block">
                        <h4 v-format-price="post.price"></h4>
                        <h5 v-get-ppm="post.price_pm"></h5>
                    </div>
                </div>
            </li>
        </ul>
        <empty-list v-if="!async_request_sent && !postResults"
                    :message="astrings.no_results_found"
                    icon-class="dm-sad-face-i">
        </empty-list>
    </section>
</template>

<script>
    import {Constants} from "../globals/Constants";
    import {mapState, mapMutations} from 'vuex';
    import EmptyList from "@/components/EmptyListPlaceholder";

    export default {
        name: "PostsResultsGrid",
        components: {
            EmptyList
        },
        data() {
            return {}
        },
        computed: {
            ...mapState([
                "astrings",
                "postResults",
                "async_request_sent"
            ])
        },
        methods: {
            ...mapMutations(["setVuexHoveredPostId"]),
            /**
             * Функция получает id объявления на которое была наведена мышка, затем записывает этот id
             * в Вьюкс для того чтобы он был доступен для элемента карты чтобы в дальнейшем выделить подходящий
             * маркер данного объявления на карте.
             * @param uuid уникальный номер объявления
             * Влад. 29/05/19
             */
            setHovered(uuid) {
                this.setVuexHoveredPostId(uuid ? uuid : null);
                this.$bus.emit(Constants.BUS_HIGHLIGHT_POINTER);
            }
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"
    .dm-results-list-header
        display: flex
        height: 40px
        padding: 5px
        border-bottom: solid 1px $dark_grey

    .dm-filters-button
        display: flex
        height: 40px
        width: 40px
        border-radius: 50%
        background-size: 20px
        background-position: center 13px
        +transition(background-color, 300ms)
        &:hover
            background-color: $light_grey

    .dm-properties-section
        position: relative
        overflow: hidden
        margin: 0 0 7px 5px
        display: flex
        flex-direction: column

    .dm-post-results-list
        padding: 10px
        width: 100%
        justify-content: flex-start
        overflow-x: hidden
        overflow-y: auto
        +setGrid(repeat(auto-fill, minmax(200px, 1fr)), 10px, repeat(auto-fit, minmax(230px, 230px)), 10px, "both")

        li
            position: relative
            width: 100%
            height: 100%
            padding: 10px
            box-sizing: border-box
            cursor: pointer
            +setGrid(null, null, 1fr auto, 10px, "rows")

            &:hover
                background: $light_grey

        img
            max-height: 200px
            max-width: 100%

    .dm-post-cell-details
        +setGridAuto(auto, 5px, "rows")

        h4
            color: $app_main_color
            display: flex

    .dm-post-cell-row
        font-size: $link_text_size

        span
            margin: 0 3px 0 0
            color: $very_dark_grey

    .dm-cell-image-frame
        width: 100%
        display: flex
        overflow: hidden
        justify-content: center

    .dm-post-price-block
        +setGridAuto(auto, 10px, "columns")
        justify-content: flex-start
        align-items: center

        h5
            color: $very_dark_grey

    .dm-image-loading
        .dm-hourglass-i, .dm-image-i
            width: 40px
            height: 40px
            background-size: contain
            display: flex
            opacity: .3

</style>