<template>
    <div class="dm-main-app-preloader" v-bind:class="containerClass">
        <div class="dm-main-app-preloader-content">
            <moon-loader :class="cls" :size="40" :color="'#8217a5'"></moon-loader>
            <div class="dm-main-app-preloader-msg" v-if="message">{{computed_message}}</div>
            <div class="dm-preloader-progress" v-show="showProgress">
                <div class="dm-progress-bar-frame">
                    <div class="dm-progress-line" :style="lineWidth"></div>
                </div>
                <h5>{{percents}}%</h5>
            </div>
        </div>
    </div>
</template>

<script>
    import {MoonLoader} from "@saeris/vue-spinners";
    import {mapState} from "vuex";

    export default {
        name: "Preloader",
        props: ['message', 'cls', 'containerClass', 'percents', 'showProgress'],
        components: {
            MoonLoader
        },
        data() {
            return {
                en: "Loading...",
                ru: "Загрузка...",
                ro: "Loading..."
            }
        },
        computed: {
            ...mapState(["app_lang"]),
            /**
             * Данная хуета обновляет счирину линии прогресс бара в соответствии
             * с процентным продвижением загрузки.
             * Влад. 15/04/19
             */
            lineWidth: (component) => {
                return `width: ${component.percents}%`;
            },
            /**
             * Данная функция, запихивает в спиннер дифолт стринг если в параметре message
             * было передано слово default. Тогда компонент берёт текст из внутреннего
             * словаря. Главная цель избежать проблемы при подъеме приложения
             * когда фаербейс еще сука не выдал всю базу текстов.
             * @param component - поинтер на данный компонент, аналог this, но читаемый из нутри функции
             * @returns {*}
             * Влад. 18/01/19
             */
            computed_message: (component) => {
                if (component.message && component.message === "default") {
                    return component[component.app_lang];
                } else if (component.message) {
                    return component.message;
                }
            }
        }
    }
</script>

<style lang="sass">
    @import "../styles/presets"
    .dm-main-app-preloader
        position: absolute
        background: white
        display: flex
        align-items: center
        justify-content: center
        z-index: 100
        top: 0
        bottom: 0
        left: 0
        right: 0

        &.nb-preloader-transparent
            background: rgba(255, 255, 255, 0.9)

    .dm-main-app-preloader-content
        +setGridAuto(auto, 20px, "rows")
        justify-items: center
        color: $app_main_color

    .dm-main-app-preloader-msg
        font-size: $small_font

    .dm-progress-bar-frame
        display: flex
        width: 100%
        border: solid 1px $app_main_color
    .dm-preloader-progress
        +setGridAuto(auto, 10px, "rows")
        width: 100%

        h5
            display: flex
            justify-content: center

    .dm-progress-line
        display: flex
        justify-content: flex-start
        height: 3px
        background: $app_main_color
</style>