<template>
    <div class="dm-two-c-data-cell">
        <span>{{field}}:</span>
        <span>{{value}}</span>
    </div>
</template>

<script>
    export default {
        name: "two-color-cell",
        props: ["field", "value"]
    }
</script>

<style lang="sass">
    @import "../styles/presets.sass"
    .dm-two-c-data-cell
        span:first-child
            color: $very_dark_grey
            margin: 0 5px 0 0
</style>