<template>
    <div id="app">
        <!--<div id="nav">-->
        <!--<router-link to="/">Home</router-link>-->
        <!--</div>-->
        <div class="dm-ellipse-bgr"></div>
        <Header></Header>
        <router-view/>
        <modals-container/>
        <notifications class="dm-app-notifications" :max="3" group="app-default" position="top left"></notifications>
        <preloader v-if="main_app_spinner" message="default"></preloader>
    </div>
</template>
<script>
    import Authentication from "@/firebase/authentication";
    import Connection from "@/firebase/connection";
    import Header from "@/components/header/Header";
    import {Constants} from "@/globals/Constants";
    import {mapState, mapMutations} from "vuex";
    import Preloader from "@/components/Preloader";
    import {Firestore} from "@/firebase/firebaseConf";

    export default {
        components: {
            Header,
            Preloader
        },
        created() {
            this.setVuexAppSpinner(true);
            const stringsRef = new Connection(Constants.APP_STRINGS + this.app_lang);
            const citiesRef = new Connection(Constants.FIRE_CITIES + this.app_lang);
            citiesRef.ref().once("value").then((snapshot) => {
                if (snapshot.val()) {
                    this.setVuexCities(snapshot.val());
                }
            });
            stringsRef.ref().once("value").then((snapshot) => {
                if (snapshot.val()) {
                    this.setVuexAppStrings(snapshot.val());
                    this.setVuexAppSpinner(false);
                }
            });

            Authentication.auth().onAuthStateChanged(user => {
                if (user) {
                    this.onLogIn(user);
                } else {
                    this.onLogOut();
                }
            });
        },
        methods: {
            ...mapMutations([
                "setVuexAppStrings",
                "setVuexCities",
                "setVuexAppSpinner",
                "setVuexUserDetails",
                "setVuexUserType"
            ]),
            onLogIn(user) {
                this.setLoggedUerData(user.uid);
            },
            onLogOut() {
                const route = this.$route;
                this.setVuexUserDetails({});
                if (route && route.path.includes("profile")) {
                    this.$router.push("/");
                }
            },
            /**
             * This function updates user details in Vuex data object
             * Vlad. 16/01/18
             */
            setLoggedUerData(id) {
                Firestore
                    .collection(Constants.FIRE_S_USERS)
                    .doc(id).get().then((userDetails) => {
                        if (userDetails.exists) {
                            this.setVuexUserDetails(userDetails.data());
                        }
                });
            }
        },
        computed: {
            ...mapState([
                "astrings",
                "app_lang",
                "main_app_spinner"
            ])
        }
    }
</script>
<style lang="sass">
    @import "styles/main.sass"
    @import "styles/icons.sass"
    .dm-ellipse-bgr
        position: absolute
        width: 100%
        height: 400px
        top: 0
        left: 0
        border-bottom-right-radius: 50%
        border-bottom-left-radius: 50%
        background-color: $app_main_color
        z-index: -1
</style>