<template>
    <div class="dm-companies-view">
        <section class="dm-companies-list-section">
            <dm-input-component v-model="inputText"
                                :placeholder="astrings.company_search"
                                class="dm-company-search">
            </dm-input-component>
            <ul class="dm-companies-list">
                <li v-for="company in companiesFilter" :key="company.id" v-open-company="{id: company.id, dialog: openCompanyMobileView}">
                    <h4>{{company.title}}</h4>
                    <div class="dm-comp-row-rating">
                        <span>{{astrings.rating}}:</span>
                        <dm-star-rating v-if="company.rating"
                                        v-model="company.rating"
                                        :read-only="true"
                                        :show-rating="false"
                                        :star-size="20">
                        </dm-star-rating>
                        <span v-if="!company.rating">{{astrings.n_a}}</span>
                    </div>
                </li>
            </ul>
        </section>
        <router-view :key="$route.fullPath" class="dm-company-view"/>
    </div>
</template>

<script>
    import {Firestore} from "@/firebase/firebaseConf";
    import {mapState, mapMutations} from 'vuex';
    import {Constants} from "../../globals/Constants";
    import DmInputComponent from "../../components/inputs/input-component";
    import router from "@/router";
    import CompanyViewDialog from "@/components/dialogs/CompanyFullViewDialog";


    export default {
        name: "Companies",
        components: {DmInputComponent},
        data() {
            return {
                companiesList: null,
                inputText: ""
            }
        },
        created() {
            this.initViewData();
        },
        computed: {
            ...mapState(["astrings", "companies_list"]),
            /**
             * Данная функция осуществляет живой поиск компаний в списке согласно буквам введенным
             * в поисковую строку.
             * @returns {null|*}
             * Влад. 19/06/19
             */
            companiesFilter() {
                if (this.companies_list) {
                    return this.companies_list.filter(comp => {
                        return comp.title.toLowerCase().includes(this.inputText.toLowerCase());
                    });
                }
                return this.companies_list;
            }
        },
        methods: {
            ...mapMutations(["setVuexCompaniesData"]),
            initViewData() {
                if (!this.companies_list) {
                    Firestore.collection(Constants.FIRE_S_COMPANIES_HARDCODED).get().then(companies => {
                        if (companies.size) {
                            const compArray = [];
                            companies.forEach(function (company) {
                                compArray.push(company.data());
                            });
                            compArray.sort((a,b) => (a.rating > b.rating) ? -1 : ((b.rating > a.rating) ? 1 : 0));
                            this.setVuexCompaniesData(compArray);
                            this.routeToFirstCompany();

                        }
                    });
                } else {
                    this.routeToFirstCompany();
                }
            },
            routeToFirstCompany() {
                const id = this.companies_list[0].id;
                if(id) {
                    router.replace({name: "company", params: {id}});
                }
            },
            /**
             * Данная функция открывает попап с полными данными о компании
             * Влад. 29/06/19
             */
            openCompanyMobileView() {
                this.$modal.show(CompanyViewDialog, null, {
                    width: "97%",
                    height: "98%",
                    clickToClose: false
                });
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    .dm-companies-view
        padding: 10px 0 10px 10px
        height: calc(100% - 50px)
        box-sizing: border-box
        +setGrid(300px 1fr, 20px, null, null, "columns")

    .dm-companies-list-section
        background-color: white
        overflow: hidden
        +setGrid(null, null, auto 1fr, null, "rows")
    .dm-company-search
        padding: 10px
        z-index: 1
    .dm-companies-list
        overflow: auto
        li
            cursor: pointer
            border-bottom: solid 1px $light_grey
            align-items: center
            padding: 10px 0 10px 10px
            overflow: hidden
            +setGridAuto(auto, 5px, "rows")
            &:hover
                background-color: $super_light_grey
        .dm-comp-row-rating
            align-items: center
            justify-content: flex-start
            +setGridAuto(auto, 5px, "columns")
        span
            font-size: $link_text_size
            color: $very_dark_grey

    .dm-company-view
        padding: 0 10px 0 3px
        align-content: flex-start
        +setGridAuto(auto, 20px, "rows")
        overflow: auto
    @media all and (max-width: $tablet_media)
        .dm-company-view
            display: none
        .dm-companies-view
            padding: 10px
            grid-template-columns: 1fr

</style>