<template>
    <div>
        <section class="dm-company-view-logo">
            <img :src="basicDetails.logo">
        </section>
        <section class="dm-bordered-tile dm-basic-comp-data dm-auto-grid">
            <h1>{{basicDetails.title}}</h1>
            <a :href="'//' + basicDetails.url" target="_blank">{{basicDetails.url}}</a>
            <span>{{astrings.establishment_date}}: {{basicDetails.foundation}}</span>
        </section>
        <section class="dm-comp-tile dm-bordered-tile">
            <h3 class="dm-view-section-title">{{astrings.completed_projects}}</h3>
            <div class="dm-comp-reviews-holder">
                <ul>
                    <li></li>
                </ul>
                <empty-list :message="astrings.completed_projects_ph"
                            icon-class="dm-sad-face-i"
                            frame-class="dm-tile-placeholder"
                            v-if="!completedProjects">
                </empty-list>
            </div>
        </section>
        <section class="dm-comp-ratings-tile dm-bordered-tile">
            <div class="dm-tile-header-w-button">
                <h3 class="dm-view-section-title">{{astrings.rating_comp}}</h3>
                <button class="dm-ok-btn" @click="openCreateReviewDialog()">{{astrings.add}}</button>
            </div>
            <div class="dm-comp-rating-line" v-for="(rate, field) in rating" :key="field">
                <span class="dm-rating-title">{{astrings.rating_fields[field]}}:</span>
                <dm-star-rating v-model="rating[field]"
                                :read-only="true"
                                :show-rating="false"
                                :star-size="30">
                </dm-star-rating>
            </div>
        </section>
        <section class="dm-comp-tile dm-bordered-tile dm-ratings-list">
            <div class="dm-tile-header-w-button">
                <h3 class="dm-view-section-title">{{astrings.reviews}}</h3>
                <button class="dm-ok-btn" @click="openCreateReviewDialog()">{{astrings.add}}</button>
            </div>
            <div class="dm-comp-reviews-holder">
                <ul>
                    <li v-for="review in reviews" :key="review.id">
                        <div class="dm-comp-review-header">
                            <span>{{review.author}}</span>
                            <span>{{review.created_ts | moment('DD.MM.YYYY')}}</span>
                        </div>
                        <div class="dm-review-ratings-block">
                            <div class="dm-comp-review-rating" v-for="(rate, field) in review.rating" :key="field">
                                <span class="dm-rating-title">{{astrings.rating_fields[field]}}:</span>
                                <dm-star-rating v-model="review.rating[field]"
                                                :read-only="true"
                                                :show-rating="false"
                                                :star-size="20">
                                </dm-star-rating>
                            </div>
                        </div>
                        <pre>{{review.review}}</pre>
                    </li>
                </ul>
                <button class="dm-show-all-reviews" @click="getReviewsData(100)" v-if="showGetAllReviewsBtn">
                    {{astrings.show_all_reviews}}
                </button>
                <empty-list :message="astrings.review_list_comp_ph"
                            icon-class="dm-sad-face-i"
                            frame-class="dm-tile-placeholder"
                            v-if="!reviews">
                </empty-list>
                <dm-preloader v-if="fetchingReviews"></dm-preloader>
            </div>
        </section>
    </div>
</template>

<script>
    import {mapState} from 'vuex';
    import EmptyList from "../../components/EmptyListPlaceholder";
    import Notifications from '@/notifications/Notifications';
    import AddReviewDialog from "@/components/dialogs/AddCompanyReviewDialog";
    import {Firestore} from "../../firebase/firebaseConf";
    import {Constants} from "../../globals/Constants";

    export default {
        name: "Company",
        components: {EmptyList},
        data() {
            return {
                basicDetails: {},
                companyHeader: null,
                reviews: null,
                reviewsQueryLimit: 5,
                showGetAllReviewsBtn: false,
                completedProjects: null,
                fetchingReviews: false,
                rating: {
                    rating_overall: 4,
                    rating_quality: 3, // Качество Стройки
                    rating_time: 4, // Сроки сдачи
                    rating_customer_care: 3, //Уровень работы с клиентами
                }
            }
        },
        created() {
            this.setViewData();
        },
        computed: {
            ...mapState(["astrings", "companies_list", "user_details"])
        },
        methods: {
            /**
             * Данная функция запрашивает отзывы о компании из Фаербейса.
             * Влад. 22/06/19
             */
            getReviewsData(limit = this.reviewsQueryLimit) {
                // Показываем прилоадер только когда функция вызвана кнопкой SHOW ALL REVIEWS
                if (limit > this.reviewsQueryLimit) {
                    this.fetchingReviews = true;
                }
                Firestore.collection(`${Constants.FIRE_COMPANIES_REVIEWS}/${this.basicDetails.id}/reviews/`)
                    .orderBy("created_ts", "desc")
                    .where("approved", "==", true)
                    .limit(limit)
                    .get()
                    .then(revs => {
                        const self = this;
                        self.fetchingReviews = false;
                        if (revs.size) {
                            this.reviews = [];
                            revs.forEach(review => {
                                self.reviews.push(review.data());
                            });
                            this.showGetAllReviewsBtn = limit === self.reviews.length;
                        }
                    });
            },
            /**
             * Данная функция вызывается при создании данного экрана и инициализирует все нужные данные для
             * оторажения на экране.
             * Влад. 20/06/19
             */
            setViewData: function () {
                if (this.companies_list) {
                    this.basicDetails = this.companies_list.find(company => company.id === this.$route.params.id);
                    this.getReviewsData();
                }
            },
            openCreateReviewDialog() {
                if (this.user_details && this.user_details.account_id) {
                    const ww = window.innerWidth;
                    const dw = ww > 600 ? "600px" : "95%";
                    const dh = ww > 600 ? "600px" : "95%";
                    this.$modal.show(AddReviewDialog, {company: this.basicDetails, user: this.user_details}, {
                        width: dw,
                        height: dh,
                        clickToClose: false
                    });
                } else {
                    Notifications.showError(this.astrings.attention, this.astrings.notifications.ntf_login_to_review);
                }
            }
        },
        watch: {
            companies_list: function () {
                this.setViewData();
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .dm-company-view-logo
        height: 150px
        display: flex
        justify-content: center

        img
            max-width: 300px
            max-height: 150px
            background-color: white
            margin: 10px 0 0 0

    .dm-basic-comp-data
        h1
            color: $app_main_color
            font-size: $large_font

        a
            color: $main_blue
            font-size: $medium_font

        span
            font-size: $regular_font

        img
            max-height: 50px
            max-width: 200px
            opacity: 0
            +transition(opacity, 300ms)

    .dm-basic-comp-data
        align-items: center

        &.dm-auto-grid
            grid-row-gap: 5px

    .dm-comp-ratings-tile
        +setGridAuto(auto, 5px, "rows")

    .dm-comp-rating-line, .dm-comp-review-rating
        +setGridAuto(auto, 10px, "columns")
        justify-content: flex-start
        align-items: center

        .dm-rating-title
            font-size: $regular_font
            width: 170px

    .dm-comp-tile
        position: relative
        +setGrid(null, null, auto 1fr, 5px, "rows")

    .dm-ratings-list
        margin: 0 0 5px 0

    .dm-comp-reviews-holder
        height: 100%
        position: relative

        ul
            +setGridAuto(auto, 20px, "rows")

        pre
            padding: 10px
            border: solid 1px $dark_grey
            font-size: $regular_font


    .dm-tile-header-w-button
        +setGrid(1fr auto, 10px, null, null, "columns")

    .dm-comp-review-header
        padding: 0 10px
        display: flex
        align-items: center
        justify-content: space-between
        height: 40px
        background-color: $super_light_grey
        border: solid 1px $dark_grey

        span
            font-size: $regular_font

    .dm-review-ratings-block
        padding: 10px
        border-right: solid 1px $dark_grey
        border-left: solid 1px $dark_grey

    .dm-show-all-reviews
        margin: 10px 0 0 0
        width: 100%
        height: 30px
        border: solid 1px $main_blue
        color: $main_blue

    @media all and (max-width: $tablet_media)

        .dm-ratings-list
            margin: 0 0 15px 0
</style>