<template>
    <section class="dm-app-dialog dm-create-review-dialog">
        <h3 class="dm-view-section-title">{{astrings.add_review}}</h3>
        <ul class="dm-review-rating-section">
            <li class="dm-comp-rating-line" v-for="(rate, field) in ratingSchema" :key="field">
                <span class="dm-rating-title">{{astrings.rating_fields[field]}}:</span>
                <dm-star-rating v-model="ratingSchema[field]"
                                :show-rating="false"
                                :star-size="35">
                </dm-star-rating>
            </li>
        </ul>
        <textarea v-model="review"
                  :placeholder="astrings.review_ph"
                  name="review_tx"
                  maxlength="1000"
                  v-validate="'required'"></textarea>
        <div class="dm-dialog-footer">
            <button class="dm-cancel-btn" @click="$emit('close')">{{astrings.cancel}}</button>
            <button class="dm-ok-btn" @click="createReview()">{{astrings.add}}</button>
        </div>
        <dm-preloader :message="astrings.publishing" v-if="reviewSent"></dm-preloader>
    </section>
</template>

<script>
    import {mapState} from 'vuex';
    import {uuid} from 'vue-uuid';
    import Notifications from '@/notifications/Notifications';
    import {Firestore} from "../../firebase/firebaseConf";
    import {Constants} from "../../globals/Constants";

    export default {
        name: "AddCompanyReviewDialog",
        data() {
            return {
                company: this.$attrs.company,
                loggedUser: this.$attrs.user,
                reviewSent: false,
                ratingSchema: {
                    rating_quality: 0,
                    rating_time: 0,
                    rating_customer_care: 0
                },
                review: null,
            }
        },
        computed: {
            ...mapState(["astrings"]),
        },
        methods: {
            /**
             * Данная функция соирает объект с отзывом о компании и отправляет его в базу данных для сохранения.
             * Влад. 22/06/19
             */
            createReview() {
                const hasEmptyRating = Object.keys(this.ratingSchema).some(field => this.ratingSchema[field] === 0);
                if (!hasEmptyRating) {
                    this.$validator.validate().then((isValid) => {
                        if (isValid) {
                            const reviewData = {
                                review_id: uuid.v1(),
                                author: this.loggedUser.account_name || this.loggedUser.company_name,
                                review: this.review,
                                rating: this.ratingSchema,
                                created_ts: new Date().getTime(),
                                approved: false
                            };
                            this.reviewSent = true;
                            Firestore.doc(`${Constants.FIRE_COMPANIES_REVIEWS}/${this.company.id}/reviews/${reviewData.review_id}`)
                                .set(reviewData)
                                .then(response => {
                                    Notifications.showSuccess(this.astrings.notifications.review_posted);
                                    this.$emit('close');
                            });
                        } else {
                            Notifications.showError(this.astrings.attention, this.astrings.notifications.empty_review);
                        }
                    });
                } else {
                    Notifications.showError(this.astrings.attention, this.astrings.notifications.empty_rating);
                }
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    .dm-create-review-dialog
        height: 100%
        +setGrid(null, null, auto auto 1fr auto, 20px, "rows")

        textarea
            padding: 5px
            border: solid 1px $dark_grey
            box-sizing: border-box

    .dm-review-rating-section
        padding: 10px 20px
        border: solid 1px $dark_grey
</style>