<template>
    <div class="dm-company-view-dialog">
        <Company class="dm-company-template-section"></Company>
        <div class="dm-dialog-footer">
            <button class="dm-ok-btn" @click="$emit('close')">{{astrings.close}}</button>
        </div>
    </div>
</template>

<script>
    import Company from "../../views/companies/Company";
    import {mapState} from 'vuex';

    export default {
        name: "CompanyFullViewDialog",
        components: {
            Company
        },
        computed: {
            ...mapState(["astrings"])
        }
    }
</script>

<style lang="sass" scoped>
    @import "../../styles/presets.sass"
    .dm-company-view-dialog
        box-sizing: border-box
        height: 100%
        padding: 0 0 10px 0
        +setGrid(null, null, 1fr auto, 5px, "rows")

    .dm-company-template-section
        overflow: auto
        padding: 0 10px
        align-content: flex-start
        background-color: $app_main_color
        +setGridAuto(auto, 20px, "rows")
        +shadowGenerator(inset 0px -4px 5px -2px rgba(0,0,0,0.3))

    .dm-dialog-footer
        padding: 0 10px


</style>