<template>
    <div class="dm-filters-dialog-container">
        <Filters :filters-object="filtersObj"></Filters>
        <div class="dm-dialog-footer">
            <button class="dm-ok-btn">{{astrings.apply_filters}}</button>
            <button class="dm-cancel-btn" @click="$emit('close')">{{astrings.cancel}}</button>
        </div>
    </div>
</template>

<script>
    import {Constants} from "@/globals/Constants";
    import {mapState} from 'vuex';
    import Filters from "@/components/FiltersForm";

    export default {
        name: "FiltersDialog",
        components: {
            Filters
        },
        data() {
            return {
                filtersObj: Constants.MAIN_FILTERS_OBJECT
            }
        },
        computed: {
            ...mapState([
                "astrings"
            ])
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .dm-filters-dialog-container
        height: 100%
        padding: 10px
        box-sizing: border-box
        align-items: flex-start
        +setGrid(null, null, 1fr auto, 10px, "rows")
</style>