<template>
    <div class="dm-app-dialog dm-dialog-login">
        <div class="dm-dialog-login-modes">
            <a v-on:click="setDialogMode('login')" v-bind:class="{'is-active': dialogMode === 'login'}">{{astrings.login_dialog.sign_in}}</a>
            <a v-on:click="setDialogMode('signup')" v-bind:class="{'is-active': dialogMode === 'signup'}">{{astrings.login_dialog.sign_up}}</a>
            <a v-on:click="setDialogMode('forgot')" v-bind:class="{'is-active': dialogMode === 'forgot'}">{{astrings.login_dialog.forgot_password}}</a>
        </div>
        <form class="dm-login-form">
            <input type="text"
                   v-show="dialogMode === 'signup'"
                   v-bind:placeholder="astrings.name"
                   v-model="displayName"
                   name="dName"
                   :class="{'dm-invalid-input' : errors.has('dName')}"
                   v-validate="{ required: dialogMode === 'signup' }"/>
            <input type="email"
                   v-bind:placeholder="astrings.email"
                   v-model="email"
                   name="email"
                   :class="{'dm-invalid-input' : errors.has('email')}"
                   v-validate="{ email: true, required: true }"/>
            <input type="password"
                   v-bind:placeholder="astrings.login_dialog.pw_ph"
                   v-if="dialogMode !== 'forgot'"
                   v-model="password"
                   name="password"
                   :class="{'dm-invalid-input' : errors.has('password')}"
                   v-validate="{ required: true, min: 6 }"/>
            <input type="password"
                   v-bind:placeholder="astrings.login_dialog.pw_ph"
                   v-if="dialogMode === 'signup'"
                   v-model="repeat_pw"
                   name="repeat_pw"
                   :class="{'dm-invalid-input' : errors.has('repeat_pw')}"
                   v-validate="{ is: password, required: true }"/>
            <div v-if="dialogMode === 'signup'">
                <dm-picker v-bind:header="astrings.login_dialog.account_type"
                           v-model="account_type"
                           name="account_type"
                           key-name="code"
                           value-name="text"
                           v-bind:pdata="astrings.login_dialog.account_types"
                           :class="{'dm-invalid-picker' : errors.has('account_type')}"
                           v-validate="'required'">
                </dm-picker>
            </div>
        </form>
        <div class="dm-dialog-footer">
            <button class="dm-cancel-btn" @click="$emit('close')" v-once>{{astrings.cancel}}</button>
            <button class="dm-ok-btn" @click="send()" v-once>{{astrings.send}}</button>
        </div>
        <dm-preloader v-bind:message="preloader_text" v-if="showLoginSpinner"></dm-preloader>
    </div>
</template>

<script>
    import Authentication from '@/firebase/authentication';
    import Notifications from '@/notifications/Notifications';
    import {Constants} from '@/globals/Constants';
    import {mapState} from 'vuex'
    import {Firestore} from "@/firebase/firebaseConf";

    export default {
        name: "LoginDialog",
        data() {
            return {
                preloader_text: "",
                showLoginSpinner: false,
                displayName: "",
                email: "",
                password: "",
                repeat_pw: "",
                dialogMode: "login",
                account_type: ""
            }
        },
        created() {
            this.preloader_text = this.astrings.login_dialog.action_text_login;
        },
        computed: {
            ...mapState([
                "astrings",
                "app_lang"
            ])
        },
        methods: {
            send() {
                this.$validator.validate().then((isValid) => {
                    if (isValid) {
                        switch (this.dialogMode) {
                            case "login":
                                this.login();
                                break;
                            case "signup":
                                this.signUp();
                                break;
                            case "forgot":
                                this.resetPassword();
                                break;
                        }
                    } else {
                        Notifications.showWarning(this.astrings.attention, this.astrings.notifications.fill_required);
                    }
                });
            },
            signUp() {
                this.showLoginSpinner = true;
                Authentication.signup(this.email, this.password).then((signUpData) => {
                    Authentication.sendUserEmailVerification();
                    this.sendNewUserDataToFirebase(signUpData);
                }, (error) => {
                    this.showLoginSpinner = false;
                    this.handleError(error);
                });
            },

            login() {
                this.showLoginSpinner = true;
                const component = this;
                Authentication.login(this.email, this.password).then(() => {
                    component.$emit('close');
                }, (error) => {
                    this.showLoginSpinner = false;
                    this.handleError(error);
                });
            },
            resetPassword() {
                this.showLoginSpinner = true;
                const component = this;
                Authentication.sendResetPasswordRequest(this.email).then(() => {
                    Notifications.showSuccess(null, this.astrings.login_dialog.reset_pw_sent);
                    component.$emit('close');
                }, (error) => {
                    this.showLoginSpinner = false;
                    this.handleError(error);
                });
            },
            /**
             * Shows error notification, depending of language
             * @param error - error data object
             * Max, 20/01/2019
             */
            handleError(error) {
                if (this.current_app_lang === 'en') {
                    Notifications.showError(this.astrings.login_dialog.login_failed, error.message);
                } else {
                    switch (error.code) {
                        case Constants.FIRE_ERR_NO_USER :
                            Notifications.showError(this.astrings.attention, this.astrings.login_dialog.wrong_email);
                            break;
                        case Constants.FIRE_ERR_WRONG_PASS:
                            Notifications.showError(this.astrings.attention, this.astrings.login_dialog.wrong_pass);
                            break;
                        case Constants.FIRE_ERR_EMAIL_IN_USE:
                            Notifications.showError(this.astrings.attention, this.astrings.login_dialog.email_busy);
                            break;
                    }
                }
            },

            setDialogMode(mode) {
                this.preloader_text = this.astrings.login_dialog["action_text_" + mode];
                this.dialogMode = mode;
            },
            /**
             * Sending basic user data to firebase after user creates his account
             * @param signUpData - signUp data object.
             * Vlad. 15/01/19
             */
            sendNewUserDataToFirebase(signUpData) {
                const component = this;
                Authentication.currentUser().then(function () {
                    // creating user details object
                    Firestore
                        .collection(Constants.FIRE_S_USERS)
                        .doc(signUpData.user.uid)
                        .set({
                            account_type: component.account_type,
                            account_id: signUpData.user.uid,
                            account_email: signUpData.user.email,
                            account_name: component.displayName,
                            account_created_ts: new Date().getTime(),
                            is_blocked: false,
                            is_limited: false,
                            is_premium: false
                        }).then(() => {
                        component.$emit('close');
                    });
                });
            }
        }
    };
</script>

<style lang="sass">
    @import "../../styles/presets.sass"

    .dm-dialog-login
        min-height: 190px
        +setGrid(null, null, 30px 1fr 30px, 10px, "rows")

    .dm-login-form
        +setGridAuto(auto, 10px, "rows")

    .dm-dialog-login-modes
        +setGridAuto(minmax(auto, 120px), 10px, "columns")
        align-content: center
        color: $app_main_color

    a
        display: flex
        align-items: center
        justify-content: flex-start
        height: 30px

        &.is-active
            font-weight: bold
</style>
