<template>
    <div class="dm-app-dialog dm-post-full-view">
        <div class="dm-post-header">
            <span>{{astrings.post_created_date}} {{publicationDate}}</span>
            <ViewsWidget></ViewsWidget>
        </div>
        <PostForm :existing-data="post" :dialog-instance="this" :form-disabled="formDisabled"></PostForm>
        <div class="dm-dialog-footer">
            <v-popover offset="6" :placement="deleteButtonPosition">
                <button class="dm-red-btn" @click.prevent="">{{astrings.delete}}</button>
                <template slot="popover">
                    <button class="dm-red-btn" v-close-popover @click="deletePost()">{{astrings.delete_confirm}}
                    </button>
                </template>
            </v-popover>
            <button class="dm-ok-btn" @click.prevent="saveOrEditPost()">{{buttonText}}</button>
            <button class="dm-cancel-btn" @click="$emit('close')">{{astrings.close}}</button>
        </div>
        <preloader v-if="dialog_request_sent"
                   container-class="nb-preloader-transparent"
                   :message="preloader_text">
        </preloader>
    </div>
</template>

<script>
    import {Constants} from "@/globals/Constants";
    import {mapState} from "vuex";
    import AppTools from "@/globals/CommonTools";
    import PostForm from "../PostForm";
    import ViewsWidget from "@/components/widgets/ViewsAmountWidget";
    import {Firestore} from "@/firebase/firebaseConf";
    import Preloader from "@/components/Preloader";

    export default {
        name: "PostFullViewDialog",
        components: {
            PostForm,
            ViewsWidget,
            Preloader
        },
        data() {
            return {
                post: this.$attrs.post,
                onPostDeleted: this.$attrs.onPostDeleted,
                formDisabled: true,
                dialog_request_sent: false,
                preloader_text: null
            }
        },
        computed: {
            ...mapState([
                "astrings",
                "user_details",
                "async_request_sent",
                "is_phone"
            ]),
            publicationDate: function () {
                return this.$moment(this.post.created_at_ts).format(Constants.MT_FULL_DATE);
            },
            buttonText: function () {
                return this.formDisabled ? this.astrings.edit : this.astrings.save;
            },
            deleteButtonPosition: function () {
                return this.is_phone ? "top-center" : "left-center";
            }
        },
        methods: {
            /**
             * Данная функция выстреливает ивент в компонент формы объявления
             * чтобы сохранить изменения либо активировать режим редактирования объявления
             * Влад. 26/03/19
             */
            saveOrEditPost() {
                if (!this.formDisabled) {
                    this.$bus.emit(Constants.BUS_SAVE_POST);
                }
                this.formDisabled = !this.formDisabled;
            },

            /**
             * Устанавливает статус прилоадера и его текст
             * Влад. 03/04/19
             */
            setPreloader(value, message) {
                this.dialog_request_sent = value;
                this.preloader_text = message;
            },

            /**
             * This function removes current post from database
             * Vlad. 01/04/19
             */
            deletePost() {
                this.setPreloader(true, this.astrings.deleting_post);
                const postRefs = AppTools.getAllPostDbReferences(this.post);
                const slim = new Promise((resolve) => {
                    Firestore.doc(postRefs.postSlimPath).delete().then(() => {
                        resolve();
                    });
                });

                const full = new Promise((resolve) => {
                    Firestore.doc(postRefs.postFullPath).delete().then(() => {
                        resolve();
                    });
                });

                const user = new Promise((resolve) => {
                    Firestore.doc(postRefs.postsPerUserPath).delete().then(() => {
                        resolve();
                    });
                });

                // Данный промис реагирует когда объявления удалено во всех трех указанных таблицах.
                Promise.all([slim, full, user]).then(() => {
                    this.onPostDeleted(this.post.uuid);
                    this.$emit('close');
                });
            }
        }
    }
</script>

<style lang="sass">
    @import "../../styles/presets.sass"
    .dm-app-dialog
        padding: 15px !important

    .dm-post-full-view
        +setGrid(null, null, 40px 1fr auto, 20px, "rows")
        height: 100%

    .dm-post-header
        border-bottom: solid 1px $dark_grey
        align-items: center
        display: flex
        justify-content: space-between
        font-size: $small_font
        padding: 0 0 5px 0
</style>